<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../assets/css/syntax-highlighter.css">
<link rel="stylesheet" href="../../../dist/admin4bs.min.css">
<title>Admin 4BS</title>

  </head>
  <body>
    <div class="app">
      <div class="app-body">
        <div class="app-sidebar">
  <div class="text-right">
    <button type="button" class="btn btn-sidebar" data-dismiss="sidebar">
      <span class="x"></span>
    </button>
  </div>
  <div class="sidebar-header">
    <img src="../../assets/images/user-photo.png" class="user-photo">
    <p class="username">John Doe</p>
  </div>
  <div id="sidebar-nav" class="sidebar-nav" data-children=".sidebar-nav-group">
    <a href="../../index.html" class="sidebar-nav-link">
      <i class="fa fa-play"></i>
      <span>Get started</span>
    </a>
    <div class="sidebar-nav-group">
      <a href="#components" class="sidebar-nav-link collapsed" data-toggle="collapse" data-parent="#sidebar-nav">
        <i class="fa fa-check-square-o"></i>
        <span>Components</span>
      </a>
      <div id="components" class="sidebar-nav-group collapse">
        <a href="../../pages/components/input-group.html" class="sidebar-nav-link">Input group</a>
        <a href="../../pages/components/input-suggestion.html" class="sidebar-nav-link">Input suggestion</a>
        <a href="../../pages/components/sidebar-nav.html" class="sidebar-nav-link">Sidebar navigation</a>
        <a href="../../pages/components/toggle-switch.html" class="sidebar-nav-link">Toggle switch</a>
      </div>
    </div>
    <div class="sidebar-nav-group">
      <a href="#content" class="sidebar-nav-link collapsed" data-toggle="collapse" data-parent="#sidebar-nav">
        <i class="fa fa-file-text-o"></i>
        <span>Content</span>
      </a>
      <div id="content" class="sidebar-nav-group collapse">
        <a href="../../pages/content/dashboard.html" class="sidebar-nav-link">Dashboard</a>
        <a href="../../pages/content/timeline.html" class="sidebar-nav-link">Timeline</a>
      </div>
    </div>
    <div class="sidebar-nav-group">
      <a href="#forms" class="sidebar-nav-link collapsed" data-toggle="collapse" data-parent="#sidebar-nav">
        <i class="fa fa-pencil-square-o"></i>
        <span>Forms</span>
      </a>
      <div id="forms" class="sidebar-nav-group collapse">
        <a href="../../pages/forms/basic-form.html" class="sidebar-nav-link">Basic form</a>
        <a href="../../pages/forms/multi-step-form.html" class="sidebar-nav-link">Multi step form</a>
        <a href="../../pages/forms/tabbed-form.html" class="sidebar-nav-link">Tabbed form</a>
      </div>
    </div>
    <div class="sidebar-nav-group">
      <a href="#sample-pages" class="sidebar-nav-link collapsed" data-toggle="collapse" data-parent="#sidebar-nav">
        <i class="fa fa-file-o"></i>
        <span>Sample pages</span>
      </a>
      <div id="sample-pages" class="sidebar-nav-group collapse">
        <a href="../../pages/sample-pages/blank-page.html" class="sidebar-nav-link">Blank page</a>
        <a href="../../pages/sample-pages/error-page.html" class="sidebar-nav-link">Error page</a>
        <a href="../../pages/sample-pages/settings.html" class="sidebar-nav-link">Settings</a>
        <a href="../../pages/sample-pages/signin.html" class="sidebar-nav-link">Sign in</a>
      </div>
    </div>
  </div>
  <div class="sidebar-footer">
    <a href="https://github.com/marxjmoura/admin4bs" data-toggle="tooltip" title="GitHub">
      <i class="fa fa-github"></i>
    </a>
    <a href="../../pages/sample-pages/settings.html" data-toggle="tooltip" title="Settings">
      <i class="fa fa-cog"></i>
    </a>
    <a href="../../pages/sample-pages/signin.html" data-toggle="tooltip" title="Logout">
      <i class="fa fa-power-off"></i>
    </a>
  </div>
</div>

        <div class="app-content">
          <nav class="navbar navbar-expand navbar-light bg-white">
  <button type="button" class="btn btn-sidebar" data-toggle="sidebar">
    <i class="fa fa-bars"></i>
  </button>
  <div class="navbar-brand">
    Admin 4BS
    <small class="text-muted">beta</small>
  </div>
</nav>

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Components</li>
              <li class="breadcrumb-item active" aria-current="page">Input suggestion</li>
            </ol>
          </nav>
          <div class="container-fluid">
            <h2>Input suggestion</h2>
            <p>
              The <code>.input-suggestion</code> is a simple and flexible autocomplete component.
              For displaying the list of items you use the <code>.list-group</code> and to define the selectable items of the list you use
              <code>.list-group-item-action</code>. Refer to <a href="https://getbootstrap.com/docs/4.0/components/list-group/">bootstrap documentation</a>
              for more details about these classes.
            </p>
            <p>
              You can use simple texts or customized templates for display the items of the list.
              Also, the component has two modes of operation: static and async.
            </p>
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Mode</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>static</td>
                    <td>
                      Default mode. Used for static items and has a built-in DOM search for items in the list.
                    </td>
                  </tr>
                  <tr>
                    <td>async</td>
                    <td>
                      Used for dynamic items that requires DOM manipulation. This mode disable the built-in DOM search.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <p>
              Follow to the next topcis for details.
            </p>
            <h3>Simple text</h3>
            <p>
              This is the most basic way to create the component. The suggestions are displayed whenever the user start to typing
              in the input element, that is, when the <code>input</code> event is triggered. See the example below:
            </p>
            <div class="form-group">
              <label>What juice do you like?</label>
              <div class="input-suggestion">
                <input type="text" class="form-control" data-toggle="suggestion">
                <div class="input-suggestion-list">
                  <div class="list-group empty">
                    <p class="list-group-item text-muted">
                      No results found
                    </p>
                  </div>
                  <div class="list-group items">
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">Apple, carrot, and orange</a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">Beet, carrot, ginger, and turmeric</a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">Homemade tomato juice</a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">Orange and grapefruit</a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">Pumpkin seed</a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">Spinach, lettuce, and kale</a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">Strawberry and mango</a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">Strawberry-kiwi mint</a>
                  </div>
                </div>
              </div>
            </div>
            <pre><code class="html">&lt;div class="form-group"&gt;
  &lt;label&gt;What juice do you like?&lt;/label&gt;
  &lt;div class="input-suggestion"&gt;
    &lt;input type="text" class="form-control" data-toggle="suggestion"&gt;
    &lt;div class="input-suggestion-list"&gt;
      &lt;div class="list-group"&gt;
        &lt;p class="list-group-item no-results"&gt;
          &lt;em class="text-muted"&gt;No results found&lt;/em&gt;
        &lt;/p&gt;
        &lt;a href="#" class="list-group-item list-group-item-action" tabindex="-1"&gt;Apple, carrot, and orange&lt;/a&gt;
        &lt;a href="#" class="list-group-item list-group-item-action" tabindex="-1"&gt;Beet, carrot, ginger, and turmeric&lt;/a&gt;
        &lt;a href="#" class="list-group-item list-group-item-action" tabindex="-1"&gt;Homemade tomato juice&lt;/a&gt;
        &lt;a href="#" class="list-group-item list-group-item-action" tabindex="-1"&gt;Orange and grapefruit&lt;/a&gt;
        &lt;a href="#" class="list-group-item list-group-item-action" tabindex="-1"&gt;Pumpkin seed&lt;/a&gt;
        &lt;a href="#" class="list-group-item list-group-item-action" tabindex="-1"&gt;Spinach, lettuce, and kale&lt;/a&gt;
        &lt;a href="#" class="list-group-item list-group-item-action" tabindex="-1"&gt;Strawberry and mango&lt;/a&gt;
        &lt;a href="#" class="list-group-item list-group-item-action" tabindex="-1"&gt;Strawberry-kiwi mint&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
            <h3>Customized template</h3>
            <p>
              You do not need to restrict yourself by using only simple texts for items of the list.
              You can customize like you wish.
            </p>
            <p>
              To the component work properly you need to define what element contains the text that will
              be displayed in the <code>input</code> when a item of the list is selected. You can do this by setting the attribute option
              <code>data-text</code> with the desired element selector. See the example below:
            </p>
            <div class="form-group">
              <label>What juice do you like?</label>
              <div class="input-suggestion">
                <input type="text" class="form-control" data-toggle="suggestion"
                  data-item=".list-group-item-action" data-text="h5" data-empty=".no-results">
                <div class="input-suggestion-list">
                  <div class="list-group empty">
                    <p class="list-group-item text-muted">
                      No results found
                    </p>
                  </div>
                  <div class="list-group items">
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Apple, carrot, and orange</h5>
                        <small>
                          <i class="fa fa-heart-o"></i> 12
                        </small>
                      </div>
                      <p class="mb-1">
                        Winning combination for helping your body protect itself and fight off infections.
                      </p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Beet, carrot, ginger, and turmeric</h5>
                        <small>
                          <i class="fa fa-heart-o"></i> 10
                        </small>
                      </div>
                      <p class="mb-1">
                        Four root vegetables that’ll help your immune system and decrease inflammatory symptoms.
                      </p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Homemade tomato juice</h5>
                        <small>
                          <i class="fa fa-heart-o"></i> 8
                        </small>
                      </div>
                      <p class="mb-1">
                        The best way to be sure your tomato juice is fresh and without added ingredients is to make it yourself.
                      </p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Orange and grapefruit</h5>
                        <small>
                          <i class="fa fa-heart-o"></i> 10
                        </small>
                      </div>
                      <p class="mb-1">
                        Vitamin C has antioxidant and other properties that protect your cells from substances that damage the body.
                      </p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Pumpkin seed</h5>
                        <small>
                          <i class="fa fa-heart-o"></i> 12
                        </small>
                      </div>
                      <p class="mb-1">
                        It’s one of the freshest, most natural recipes available online. And it works as a great base for fruit smoothies.
                      </p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Spinach, lettuce, and kale</h5>
                        <small>
                          <i class="fa fa-heart-o"></i> 10
                        </small>
                      </div>
                      <p class="mb-1">
                        A vegetable-based green juice is a powerhouse of nutrients for a strong immune system.
                      </p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Strawberry and mango</h5>
                        <small>
                          <i class="fa fa-heart-o"></i> 6
                        </small>
                      </div>
                      <p class="mb-1">
                        The healthy way to satisfy your cravings for a bottomless brunch.
                      </p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Strawberry-kiwi mint</h5>
                        <small>
                          <i class="fa fa-heart-o"></i> 8
                        </small>
                      </div>
                      <p class="mb-1">
                        Other healthy alternatives for a vitamin C-packed drink.
                      </p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <pre><code class="html">&lt;div class="form-group"&gt;
  &lt;label&gt;What juice do you like?&lt;/label&gt;
  &lt;div class="input-suggestion"&gt;
    &lt;input type="text" class="form-control" data-toggle="suggestion" data-text="h5"&gt;
    &lt;div class="input-suggestion-list"&gt;
      &lt;div class="list-group"&gt;
        &lt;p class="list-group-item no-results"&gt;
          &lt;em class="text-muted"&gt;No results found&lt;/em&gt;
        &lt;/p&gt;
        &lt;a href="#" class="list-group-item list-group-item-action" tabindex="-1"&gt;
          &lt;div class="d-flex w-100 justify-content-between"&gt;
            &lt;h5 class="mb-1"&gt;Apple, carrot, and orange&lt;/h5&gt;
            &lt;small&gt;&lt;i class="fa fa-heart-o"&gt;&lt;/i&gt; 12&lt;/small&gt;
          &lt;/div&gt;
          &lt;p class="mb-1"&gt;Winning combination for helping your body protect itself and fight off infections.&lt;/p&gt;
        &lt;/a&gt;
        &lt;a href="#" class="list-group-item list-group-item-action" tabindex="-1"&gt;
          &lt;div class="d-flex w-100 justify-content-between"&gt;
            &lt;h5 class="mb-1"&gt;Beet, carrot, ginger, and turmeric&lt;/h5&gt;
            &lt;small&gt;&lt;i class="fa fa-heart-o"&gt;&lt;/i&gt; 10&lt;/small&gt;
          &lt;/div&gt;
          &lt;p class="mb-1"&gt;Four root vegetables that’ll help your immune system and decrease inflammatory symptoms.&lt;/p&gt;
        &lt;/a&gt;
        &lt;a href="#" class="list-group-item list-group-item-action" tabindex="-1"&gt;
          &lt;div class="d-flex w-100 justify-content-between"&gt;
            &lt;h5 class="mb-1"&gt;Homemade tomato juice&lt;/h5&gt;
            &lt;small&gt;&lt;i class="fa fa-heart-o"&gt;&lt;/i&gt; 8&lt;/small&gt;
          &lt;/div&gt;
          &lt;p class="mb-1"&gt;The best way to be sure your tomato juice is fresh and without added ingredients is to make it yourself.&lt;/p&gt;
        &lt;/a&gt;
        &lt;a href="#" class="list-group-item list-group-item-action" tabindex="-1"&gt;
          &lt;div class="d-flex w-100 justify-content-between"&gt;
            &lt;h5 class="mb-1"&gt;Orange and grapefruit&lt;/h5&gt;
            &lt;small&gt;&lt;i class="fa fa-heart-o"&gt;&lt;/i&gt; 10&lt;/small&gt;
          &lt;/div&gt;
          &lt;p class="mb-1"&gt;Vitamin C has antioxidant and other properties that protect your cells from substances that damage the body.&lt;/p&gt;
        &lt;/a&gt;
        &lt;a href="#" class="list-group-item list-group-item-action" tabindex="-1"&gt;
          &lt;div class="d-flex w-100 justify-content-between"&gt;
            &lt;h5 class="mb-1"&gt;Pumpkin seed&lt;/h5&gt;
            &lt;small&gt;&lt;i class="fa fa-heart-o"&gt;&lt;/i&gt; 12&lt;/small&gt;
          &lt;/div&gt;
          &lt;p class="mb-1"&gt;It’s one of the freshest, most natural recipes available online. And it works as a great base for fruit smoothies.&lt;/p&gt;
        &lt;/a&gt;
        &lt;a href="#" class="list-group-item list-group-item-action" tabindex="-1"&gt;
          &lt;div class="d-flex w-100 justify-content-between"&gt;
            &lt;h5 class="mb-1"&gt;Spinach, lettuce, and kale&lt;/h5&gt;
            &lt;small&gt;&lt;i class="fa fa-heart-o"&gt;&lt;/i&gt; 10&lt;/small&gt;
          &lt;/div&gt;
          &lt;p class="mb-1"&gt;A vegetable-based green juice is a powerhouse of nutrients for a strong immune system.&lt;/p&gt;
        &lt;/a&gt;
        &lt;a href="#" class="list-group-item list-group-item-action" tabindex="-1"&gt;
          &lt;div class="d-flex w-100 justify-content-between"&gt;
            &lt;h5 class="mb-1"&gt;Strawberry and mango&lt;/h5&gt;
            &lt;small&gt;&lt;i class="fa fa-heart-o"&gt;&lt;/i&gt; 6&lt;/small&gt;
          &lt;/div&gt;
          &lt;p class="mb-1"&gt;The healthy way to satisfy your cravings for a bottomless brunch.&lt;/p&gt;
        &lt;/a&gt;
        &lt;a href="#" class="list-group-item list-group-item-action" tabindex="-1"&gt;
          &lt;div class="d-flex w-100 justify-content-between"&gt;
            &lt;h5 class="mb-1"&gt;Strawberry-kiwi mint&lt;/h5&gt;
            &lt;small&gt;&lt;i class="fa fa-heart-o"&gt;&lt;/i&gt; 8&lt;/small&gt;
          &lt;/div&gt;
          &lt;p class="mb-1"&gt;Other healthy alternatives for a vitamin C-packed drink.&lt;/p&gt;
        &lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
            <h3>Asynchronous</h3>
            <p>
              You can use simple text or customized templates for async items, however the built-in DOM search is disabled.
            </p>
            <div class="form-group">
              <label>What juice do you like?</label>
              <div class="input-suggestion">
                <input id="input-suggestion-async-example" type="text" class="form-control" data-toggle="suggestion"
                  data-item=".list-group-item-action" data-empty=".no-results" data-loader=".loader" data-async>
                <div class="input-suggestion-list">
                  <div class="list-group loading">
                    <p class="list-group-item">
                      <em class="text-muted">Searching juices...</em>
                    </p>
                  </div>
                  <div class="list-group empty">
                    <p class="list-group-item text-muted">
                      No results found
                    </p>
                  </div>
                  <div class="list-group items"></div>
                </div>
              </div>
            </div>
            <pre><code class="html">&lt;div class="form-group"&gt;
  &lt;label&gt;What juice do you like?&lt;/label&gt;
  &lt;div class="input-suggestion"&gt;
    &lt;input id="input-suggestion-async-example" type="text" class="form-control" data-toggle="suggestion" data-async&gt;
    &lt;div class="input-suggestion-list"&gt;
      &lt;div class="list-group"&gt;
        &lt;p class="list-group-item loader"&gt;
          &lt;em class="text-muted"&gt;Searching juices...&lt;/em&gt;
        &lt;/p&gt;
        &lt;p class="list-group-item no-results"&gt;
          &lt;em class="text-muted"&gt;No results found&lt;/em&gt;
        &lt;/p&gt;
        &lt;!-- Dynamically generated --&gt;
        &lt;!-- &lt;a href="#" class="list-group-item list-group-item-action" tabindex="-1"&gt;&lt;/a&gt; --&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="../../../dist/admin4bs.min.js"></script>
<script src="../../assets/js/admin4bs.preview.js"></script>

  </body>
</html>
