&lt;div class="card"&gt;
  &lt;div class="card-header"&gt;
    Purchases
  &lt;/div&gt;
  &lt;div class="table-responsive"&gt;
    &lt;table class="table table-hover"&gt;
      &lt;thead&gt;
        &lt;tr&gt;
          &lt;th&gt;
            &lt;div class="d-flex"&gt;
              &lt;label class="checkbox mr-2"&gt;
                &lt;input type="checkbox"/&gt;
                &lt;span class="check-mark"&gt;&lt;/span&gt;
              &lt;/label&gt;
              Order
            &lt;/div&gt;
          &lt;/th&gt;
          &lt;th&gt;Buyer&lt;/th&gt;
          &lt;th&gt;Payment&lt;/th&gt;
          &lt;th&gt;Amount&lt;/th&gt;
        &lt;/tr&gt;
      &lt;/thead&gt;
      &lt;tbody&gt;
        &lt;tr&gt;
          &lt;td&gt;
            &lt;div class="d-flex"&gt;
              &lt;label class="checkbox mr-2"&gt;
                &lt;input type="checkbox"/&gt;
                &lt;span class="check-mark"&gt;&lt;/span&gt;
              &lt;/label&gt;
              2194
            &lt;/div&gt;
          &lt;/td&gt;
          &lt;td&gt;Carla Leach&lt;/td&gt;
          &lt;td&gt;
            &lt;span class="badge badge-primary"&gt;paypal&lt;/span&gt;
          &lt;/td&gt;
          &lt;td&gt;$59.85&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
          &lt;td&gt;
            &lt;div class="d-flex"&gt;
              &lt;label class="checkbox mr-2"&gt;
                &lt;input type="checkbox"/&gt;
                &lt;span class="check-mark"&gt;&lt;/span&gt;
              &lt;/label&gt;
              2442
            &lt;/div&gt;
          &lt;/td&gt;
          &lt;td&gt;Kameron Burks&lt;/td&gt;
          &lt;td&gt;
            &lt;span class="badge badge-info"&gt;credit card&lt;/span&gt;
          &lt;/td&gt;
          &lt;td&gt;$32.50&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
        &lt;td&gt;
          &lt;div class="d-flex"&gt;
              &lt;label class="checkbox mr-2"&gt;
                &lt;input type="checkbox"/&gt;
                &lt;span class="check-mark"&gt;&lt;/span&gt;
              &lt;/label&gt;
              4640
            &lt;/div&gt;
          &lt;/td&gt;
          &lt;td&gt;Jake Reese&lt;/td&gt;
          &lt;td&gt;
            &lt;span class="badge badge-primary"&gt;paypal&lt;/span&gt;
          &lt;/td&gt;
          &lt;td&gt;$105.60&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
        &lt;td&gt;
          &lt;div class="d-flex"&gt;
              &lt;label class="checkbox mr-2"&gt;
                &lt;input type="checkbox"/&gt;
                &lt;span class="check-mark"&gt;&lt;/span&gt;
              &lt;/label&gt;
              9390
            &lt;/div&gt;
          &lt;/td&gt;
          &lt;td&gt;Bryce Sellers&lt;/td&gt;
          &lt;td&gt;
            &lt;span class="badge badge-success"&gt;cash&lt;/span&gt;
          &lt;/td&gt;
          &lt;td&gt;$12.25&lt;/td&gt;
        &lt;/tr&gt;
      &lt;/tbody&gt;
    &lt;/table&gt;
  &lt;/div&gt;
  &lt;div class="card-footer"&gt;
    &lt;ul class="pagination justify-content-center"&gt;&lt;/ul&gt;
  &lt;/div&gt;
&lt;/div&gt;
