.app-sidebar .sidebar-header
{
    padding: 0 1.25rem;
    text-align: center;

    .user-photo
    {
        border: 0.125rem solid transparent;
        height: 4.5rem;
        padding: .125rem;
        width: 4.5rem;
        @include crossbrowser-border-radius(50%);
    }

    .username
    {
        padding: .625rem 0;
        white-space: nowrap;

        small
        {
            display: block;
            padding-top: .25rem;
            @include crossbrowser-opacity(.75);
        }
    }
}
