.app-sidebar .sidebar-footer
{
  text-align: center;
  white-space: nowrap;

  &:before
  {
    border-top: 1px solid $bscolors-gray-400;
    content: "";
    display: block;
    margin: 15px auto;
    width: 90%;
  }

  a
  {
    font-size: 16pt;
    padding: 0 10px;
    text-decoration: none;
    @include crossbrowser-transition(color 0.25s ease-out);
  }
}
