.app-sidebar .sidebar-header
{
    padding: 0 1.25rem;
    text-align: center;

    .user-photo
    {
        border: 3px solid $bscolors-gray-300;
        border-radius: 50%;
        height: 6rem;
        padding: .1875rem;
        width: 6rem;
    }

    .username
    {
        padding: .625rem 0;
        white-space: nowrap;
    }
}
