.app-sidebar .sidebar-footer
{
  margin: 1.5rem 0;
  text-align: center;
  white-space: nowrap;

  a
  {
    font-size: 1.4rem;
    outline: none;
    padding: 0 .625rem;
    text-decoration: none;
    @include crossbrowser-transition(color .25s ease-out);
  }
}
