.app-sidebar .sidebar-nav
{
    overflow: hidden;
    padding: 0;

    .sidebar-nav-group .sidebar-nav-group .sidebar-nav-link
    {
        padding: 5px 57px 10px;
    }

    .sidebar-nav-link
    {
        display: block;
        outline: none;
        text-decoration: none;
        white-space: nowrap;
        @include crossbrowser-transition(color 0.25s ease-out);
    }

    > .sidebar-nav-link,
    > .sidebar-nav-group > .sidebar-nav-link
    {
        border: none;
        font-size: 12pt;
        font-weight: 400;
        padding: 15px 20px;
        white-space: nowrap;
        @include crossbrowser-transition(background-color 0.25s ease-out);

        .fa
        {
            font-size: 16pt;
            padding-right: 10px;
            @include crossbrowser-transition(color 0.25s ease-out);
        }
    }
}
