.modal.modal-calendar .modal-dialog
{
  max-width: 320px;

  .modal-content
  {
    .modal-header,
    .modal-body,
    .modal-footer
    {
      border-width: 0;
      padding-left: 20px;
      padding-right: 20px;
    }

    .modal-header
    {
      .input-group
      {
        height: auto;
        width: auto;

        .btn,
        .form-control
        {
          font-size: 14pt;
          padding: 15px 5px 0 5px;

          &.btn-link
          {
            padding-left: 20px;
            padding-right: 20px;
          }
        }

        .form-control
        {
          border: none;
          display: inline-block;
          flex: 0 1 auto;
          text-align: center;
          width: 60px;
          @include crossbrowser-box-shadow(none);
        }

        .btn.dropdown-toggle
        {
          border: none;
          background: $bscolors-white;
          color: $bscolors-gray-700;
          @include crossbrowser-box-shadow(none);

          &::after
          {
            display:none
          }
        }
      }
    }
  }
}

table.table-calendar
{
  text-align: center;
  width: 100%;

  th
  {
    font-weight: normal;
    padding-bottom: 15px;

    &:first-child
    {
      color: $bscolors-red;
    }
  }

  td
  {
    color: $bscolors-gray-500;
    padding: 5px;

    a
    {
      color: $bscolors-gray-700;
      display: block;
      position: relative;
      text-align: center;
      text-decoration: none;
      z-index: 1;

      &::before
      {
        border: 1px solid $bscolors-blue;
        content: " ";
        display: none;
        position: absolute;
        top: -4px;
        left: -1px;
        width: 32px;
        height: 32px;
        z-index: -1;
        @include crossbrowser-border-radius(50%);
      }

      &:hover,
      &.active
      {
        color: $bscolors-white !important;

        &::before
        {
          background: $bscolors-blue;
          display: block;
        }
      }

      &.today::before
      {
        display: block;
      }

      &.sunday
      {
        color: $bscolors-red;
      }
    }
  }
}
