.infield-label
{
  position: relative;

  > input
  {
    padding-top: 1.75rem;
  }

  > label
  {
    position: absolute;
    top: 0;
    left: 0;
    color: $bscolors-gray-600;
    display: block;
    font-size: 11pt;
    line-height: 1.5;
    margin-bottom: 0;
    padding: .5rem .75rem;
    width: 100%;
  }
}

.floating-label
{
  $input-padding-x: .75rem;
  $input-padding-y: .75rem;

  position: relative;

  > input,
  > label
  {
    padding: $input-padding-y $input-padding-x;
  }

  > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: $bscolors-gray-600;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }

  input
  {
    @include crossbrowser-input-placeholder(transparent);

    &:not(:placeholder-shown)
    {
      padding-top: calc(#{$input-padding-y} + #{$input-padding-y} * (2 / 3));
      padding-bottom: calc(#{$input-padding-y} / 3);
    }

    &:not(:placeholder-shown) ~ label
    {
      padding-top: calc(#{$input-padding-y} / 3);
      padding-bottom: calc(#{$input-padding-y} / 3);
      font-size: 12px;
      color: $bscolors-gray-600;
    }
  }
}
