.btn-sidebar
{
  background: transparent;
  font-size: 16pt;
  margin-right: 5px;

  @include bsmedia-breakpoint-up-to-md
  {
    display: none;
  }
  
  .x
  {
    display: block;
    width: 32px;
    height: 32px;

    &:before,
    &:after
    {
      position: absolute;
      content: "";
      height: 33px;
      width: 2px;
      background-color: $variables-sidebar-text-color;
    }

    &:before
    {
      transform: rotate(45deg);
    }
    &:after
    {
      transform: rotate(-45deg);
    }
  }
}
