.sidebar-nav
{
    $nav-group-bg-color: darken($variables-sidebar-bg-color, 3%);
    $nav-group-item-active-color: darken($nav-group-bg-color, 3%);
    $nav-group-item-border-color: lighten($variables-sidebar-bg-color, 15%);

    overflow: hidden;
    padding: 0;

    .nav-group
    {
        background: $nav-group-item-active-color;

        .nav-group .nav-group-item
        {
            padding: 5px 57px 10px;

            &:hover,
            &:active
            {
                color: $variables-sidebar-scrollbar-thumb-color;
            }
        }
    }

    .nav-group-item
    {
        color: $variables-sidebar-text-color;
        display: block;
        text-decoration: none;
        white-space: nowrap;
        @include crossbrowser-transition(color 0.25s ease-out);
    }

    > .nav-group-item,
    > .nav-group > .nav-group-item
    {
        border: none;
        color: lighten($variables-sidebar-bg-color, 60%);
        font-size: 13pt;
        font-weight: 400;
        padding: 15px 20px;
        white-space: nowrap;
        @include crossbrowser-transition(background-color 0.25s ease-out);

        .fa
        {
            font-size: 16pt;
            padding-right: 10px;
            @include crossbrowser-transition(color 0.25s ease-out);
        }

        &.collapsed
        {
            background-color: $variables-sidebar-bg-color;

            .fa
            {
                color: $variables-sidebar-text-color;
            }
        }

        &:active,
        &:hover
        {
            background-color: $nav-group-item-active-color;
        }
    }

    > .nav-group-item .fa
    {
        color: $variables-sidebar-text-color;
    }

    > .nav-group > .nav-group-item .fa
    {
        color: $variables-sidebar-scrollbar-thumb-color;
    }

    .nav-footer
    {
        text-align: center;
        white-space: nowrap;

        &:before
        {
            border-top: 1px solid lighten($variables-sidebar-bg-color, 7%);
            content: "";
            display: block;
            margin: 15px auto;
            width: 90%;
        }

        a
        {
            color: $variables-sidebar-text-color;
            font-size: 16pt;
            padding: 0 10px;
            text-decoration: none;
            @include crossbrowser-transition(color 0.25s ease-out);

            &:active,
            &:hover
            {
                color: $bscolors-white;
            }
        }
    }
}
