@mixin switch-color($name, $color)
{
  label.switch-#{$name} input[type=checkbox]
  {
    + .switch-slider
    {
      background: $color;
    }

    &:disabled + .switch-slider
    {
      background: lighten($color, 20%);
    }

    &:focus + .switch-slider
    {
      @include crossbrowser-box-shadow(0 0 0 .2rem rgba($color, .25));
    }
  }
}

@mixin switch-to-color($name, $color)
{
  label.switch-to-#{$name} input[type=checkbox]
  {
    &:checked + .switch-slider
    {
      background: $color;
    }

    &:checked:disabled + .switch-slider
    {
      background: lighten($color, 20%);
    }

    &:checked:focus + .switch-slider
    {
      @include crossbrowser-box-shadow(0 0 0 .2rem rgba($color, .25));
    }
  }
}

label.switch
{
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  margin-bottom: 0;
  position: relative;
  @include crossbrowser-border-radius(2rem);

  input[type=checkbox]
  {
    position: absolute;
    @include crossbrowser-opacity(0);

    &,
    &:after,
    &:before,
    & *,
    & *:after,
    & *:before,
    & + span
    {
      box-sizing: border-box;

      &::selection
      {
        background: none;
      }
    }

    + .switch-slider
    {
      background: $bscolors-gray-400;
      border-radius: 2em;
      display: block;
      height: 2em;
      outline: 0;
      padding: 2px;
      position: relative;
      transition: all .4s ease;
      user-select: none;
      width: 4em;

      &:after,
      &:before
      {
        position: relative;
        display: block;
        content: "";
        width: 50%;
        height: 100%;
      }

      &:after
      {
        left: 0;
        background: $bscolors-white;
        border-radius: 50%;
        transition: all .2s ease;
        @include crossbrowser-box-shadow(none);
      }

      &:before
      {
        display: none;
      }
    }

    &:checked + .switch-slider:after
    {
      left: 50%;
    }

    &:disabled + .switch-slider
    {
      background: lighten($bscolors-gray-400, 5%);
      cursor: not-allowed;
    }

    &:focus + .switch-slider
    {
      @include crossbrowser-box-shadow(0 0 0 .2rem rgba($bscolors-gray-400, .25));
    }
  }

  &.switch-sm input[type=checkbox]
  {
    + .switch-slider
    {
      border-radius: 1.5em;
      height: 1.5em;
      width: 3em;
    }
  }

  &.switch-lg input[type=checkbox]
  {
    + .switch-slider
    {
      border-radius: 2.5em;
      height: 2.5em;
      width: 5em;
    }
  }
}

@include switch-color(danger, $bscolors-red);
@include switch-color(info, $bscolors-cyan);
@include switch-color(primary, $bscolors-blue);
@include switch-color(success, $bscolors-green);
@include switch-color(warning, $bscolors-yellow);

@include switch-to-color(danger, $bscolors-red);
@include switch-to-color(info, $bscolors-cyan);
@include switch-to-color(primary, $bscolors-blue);
@include switch-to-color(success, $bscolors-green);
@include switch-to-color(warning, $bscolors-yellow);
