&lt;div class="nav-tabs-responsive"&gt;
  &lt;ul class="nav nav-tabs-progress nav-tabs-4 mb-4"&gt;
    &lt;li class="nav-item"&gt;
      &lt;a href="#step-1" class="nav-link active" data-toggle="tab"&gt;
        &lt;span class="font-lg"&gt;1.&lt;/span&gt; Let's begin
        &lt;small class="d-block text-secondary"&gt;Lorem ipsum dolor sit amet&lt;/small&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class="nav-item"&gt;
      &lt;a href="#step-2" class="nav-link" data-toggle="tab"&gt;
        &lt;span class="font-lg"&gt;2.&lt;/span&gt; Two more steps
        &lt;small class="d-block text-secondary"&gt;Lorem ipsum dolor sit amet&lt;/small&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class="nav-item"&gt;
      &lt;a href="#step-3" class="nav-link" data-toggle="tab"&gt;
        &lt;span class="font-lg"&gt;3.&lt;/span&gt; Almost there
        &lt;small class="d-block text-secondary"&gt;Lorem ipsum dolor sit amet&lt;/small&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class="nav-item"&gt;
      &lt;a href="#step-4" class="nav-link" data-toggle="tab"&gt;
        &lt;span class="font-lg"&gt;4.&lt;/span&gt; The last one
        &lt;small class="d-block text-secondary"&gt;Lorem ipsum dolor sit amet&lt;/small&gt;
      &lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
  &lt;form id="tab-progress-contents" class="tab-content"&gt;
    &lt;div id="step-1" class="tab-pane show active"&gt;
      &lt;div class="mb-2"&gt;
        &lt;a href="#step-1-collapse" data-toggle="collapse"&gt;
          &lt;span class="font-lg"&gt;1.&lt;/span&gt; Let's begin
          &lt;small class="d-block text-secondary"&gt;Lorem ipsum dolor sit amet&lt;/small&gt;
        &lt;/a&gt;
      &lt;/div&gt;
      &lt;div id="step-1-collapse" class="collapse show" data-parent="#tab-progress-contents"&gt;
        &lt;div class="mb-3"&gt;Content of step one&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div id="step-2" class="tab-pane"&gt;
      &lt;div class="mb-2"&gt;
        &lt;a href="#step-2-collapse" data-toggle="collapse"&gt;
          &lt;span class="font-lg"&gt;2.&lt;/span&gt; Two more steps
          &lt;small class="d-block text-secondary"&gt;Lorem ipsum dolor sit amet&lt;/small&gt;
        &lt;/a&gt;
      &lt;/div&gt;
      &lt;div id="step-2-collapse" class="collapse" data-parent="#tab-progress-contents"&gt;
        &lt;div class="mb-3"&gt;Content of step two&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div id="step-3" class="tab-pane"&gt;
      &lt;div class="mb-2"&gt;
        &lt;a href="#step-3-collapse" data-toggle="collapse"&gt;
          &lt;span class="font-lg"&gt;3.&lt;/span&gt; Payment information
          &lt;small class="d-block text-secondary"&gt;Lorem ipsum dolor sit amet&lt;/small&gt;
        &lt;/a&gt;
      &lt;/div&gt;
      &lt;div id="step-3-collapse" class="collapse" data-parent="#tab-progress-contents"&gt;
        &lt;div class="mb-3"&gt;Content of step three&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div id="step-4" class="tab-pane"&gt;
      &lt;div class="mb-2"&gt;
        &lt;a href="#step-4-collapse" data-toggle="collapse"&gt;
          &lt;span class="font-lg"&gt;4.&lt;/span&gt; Confirm your details
          &lt;small class="d-block text-secondary"&gt;Lorem ipsum dolor sit amet&lt;/small&gt;
        &lt;/a&gt;
      &lt;/div&gt;
      &lt;div id="step-4-collapse" class="collapse" data-parent="#tab-progress-contents"&gt;
        &lt;div class="mb-3"&gt;Content of step four&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/form&gt;
&lt;/div&gt;
