&lt;div class="nav-tabs-responsive"&gt;
  &lt;ul class="nav nav-tabs mb-2"&gt;
    &lt;li class="nav-item"&gt;
      &lt;a href="#account" class="nav-link active" data-toggle="tab"&gt;
        &lt;i class="icon-lock"&gt;&lt;/i&gt; Account
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class="nav-item"&gt;
      &lt;a href="#personal" class="nav-link" data-toggle="tab"&gt;
        &lt;i class="icon-user"&gt;&lt;/i&gt; Personal
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class="nav-item"&gt;
      &lt;a href="#payment" class="nav-link" data-toggle="tab"&gt;
        &lt;i class="icon-credit-card"&gt;&lt;/i&gt; Payment
      &lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
  &lt;div id="tab-contents" class="tab-content"&gt;
    &lt;div id="account" class="tab-pane show active mb-3"&gt;
      &lt;div class="mb-3"&gt;
        &lt;a href="#account-collapse" data-toggle="collapse"&gt;
          &lt;i class="icon-lock"&gt;&lt;/i&gt; Account
        &lt;/a&gt;
      &lt;/div&gt;
      &lt;div id="account-collapse" class="collapse show" data-parent="#tab-contents"&gt;
        &lt;div class="mb-3"&gt;Account information&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div id="personal" class="tab-pane"&gt;
      &lt;div class="mb-3"&gt;
        &lt;a href="#personal-collapse" data-toggle="collapse"&gt;
          &lt;i class="icon-user"&gt;&lt;/i&gt; Personal
        &lt;/a&gt;
      &lt;/div&gt;
      &lt;div id="personal-collapse" class="collapse" data-parent="#tab-contents"&gt;
        &lt;div class="mb-3"&gt;Personal information&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div id="payment" class="tab-pane"&gt;
      &lt;div class="mb-3"&gt;
        &lt;a href="#payment-collapse" data-toggle="collapse"&gt;
          &lt;i class="icon-credit-card"&gt;&lt;/i&gt; Payment
        &lt;/a&gt;
      &lt;/div&gt;
      &lt;div id="payment-collapse" class="collapse" data-parent="#tab-contents"&gt;
        &lt;div class="mb-3"&gt;Payment information&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
