/*
 * Reference: https://flatuicolors.com/
 */

$asbestos: #7f8c8d;
$alizarin: #e74c3c;
$amethyst: #9b59b6;
$belize-hole: #2980b9;
$carrot: #e67e22;
$clouds: #ecf0f1;
$concrete: #95a5a6;
$emerald: #2ecc71;
$green-sea: #16a085;
$midnight-blue: #2c3e50;
$nephritis: #27ae60;
$orange: #f39c12;
$peter-river: #3498db;
$pomegranate: #c0392b;
$pumpkin: #d35400;
$silver: #bdc3c7;
$sun-flower: #f1c40f;
$turquoise: #1abc9c;
$wet-asphalt: #34495e;
$wisteria: #8e44ad;
