@mixin crossbrowser-linear-gradient($direction, $gradient...)
{
  background: nth($gradient, 1);
  background-image: -webkit-linear-gradient($direction, $gradient);
  background-image: -moz-linear-gradient($direction, $gradient);
  background-image: -ms-linear-gradient($direction, $gradient);
  background-image: -o-linear-gradient($direction, $gradient);
  background-image: linear-gradient($direction, $gradient);
}
