.sidebar-nav
{
    $nav-group-bg-color: darken($variables-sidebar-bg-color, 3%);
    $nav-group-item-active-color: darken($nav-group-bg-color, 3%);
    $nav-group-item-border-color: lighten($variables-sidebar-bg-color, 15%);

    overflow: hidden;
    padding: 0;

    .sidebar-nav-group
    {
        background: $nav-group-item-active-color;

        .sidebar-nav-group .sidebar-nav-link
        {
            padding: 5px 57px 10px;

            &:hover,
            &:active
            {
                color: $variables-sidebar-scrollbar-thumb-color;
            }
        }
    }

    .sidebar-nav-link
    {
        color: $variables-sidebar-text-color;
        display: block;
        text-decoration: none;
        white-space: nowrap;
        @include crossbrowser-transition(color 0.25s ease-out);
    }

    > .sidebar-nav-link,
    > .sidebar-nav-group > .sidebar-nav-link
    {
        border: none;
        color: lighten($variables-sidebar-bg-color, 60%);
        font-size: 13pt;
        font-weight: 400;
        padding: 15px 20px;
        white-space: nowrap;
        @include crossbrowser-transition(background-color 0.25s ease-out);

        .fa
        {
            font-size: 16pt;
            padding-right: 10px;
            @include crossbrowser-transition(color 0.25s ease-out);
        }

        &.collapsed
        {
            background-color: $variables-sidebar-bg-color;

            .fa
            {
                color: $variables-sidebar-text-color;
            }
        }

        &:active,
        &:hover
        {
            background-color: $nav-group-item-active-color;
        }
    }

    > .sidebar-nav-link .fa
    {
        color: $variables-sidebar-text-color;
    }

    > .sidebar-nav-group > .sidebar-nav-link .fa
    {
        color: $variables-sidebar-scrollbar-thumb-color;
    }
}
