$highlight-colors-attribute: #9cdcfe;
$highlight-colors-class: #0a8;
$highlight-colors-comment: #999;
$highlight-colors-keyword: #569cd6;
$highlight-colors-literal: #e8e8e8;
$highlight-colors-namespace: #099;
$highlight-colors-number: #d7ba7d;
$highlight-colors-string: #ce9178;
