$highlight-light-attribute: #4f9fcf;
$highlight-light-editor-bg: #efefef;
$highlight-light-editor-link: #868e96;
$highlight-light-class: #0a8;
$highlight-light-comment: #999;
$highlight-light-keyword: #2f6f9f;
$highlight-light-literal: #212529;
$highlight-light-namespace: #099;
$highlight-light-number: #f5871f;
$highlight-light-string: #d44950;

$highlight-dark-attribute: #9cdcfe;
$highlight-dark-editor-bg: #222d32;
$highlight-dark-editor-link: #fff;
$highlight-dark-class: #0a8;
$highlight-dark-comment: #999;
$highlight-dark-keyword: #569cd6;
$highlight-dark-literal: #e8e8e8;
$highlight-dark-namespace: #099;
$highlight-dark-number: #d7ba7d;
$highlight-dark-string: #ce9178;
