&lt;div class="form-group"&gt;
  &lt;label class="radio"&gt;
    &lt;input type="radio" name="radio-group" checked&gt;
    &lt;span class="check-mark"&gt;Apple&lt;/span&gt;
  &lt;/label&gt;
&lt;/div&gt;
&lt;div class="form-group"&gt;
  &lt;label class="radio"&gt;
    &lt;input type="radio" name="radio-group"&gt;
    &lt;span class="check-mark"&gt;Peach&lt;/span&gt;
  &lt;/label&gt;
&lt;/div&gt;
&lt;div class="form-group"&gt;
  &lt;label class="radio"&gt;
    &lt;input type="radio" name="radio-group"&gt;
    &lt;span class="check-mark"&gt;Orange&lt;/span&gt;
  &lt;/label&gt;
&lt;/div&gt;
