{{#>src/hbs/page}}

{{#*inline "head-block"}}
<meta name="description" content="Chat allows users to talk to someone in a friendly informal way." />
<title>Admin 4B · Chat</title>
{{/inline}}

{{#*inline "body-block"}}
<div class="app">
  {{{ include 'src/hbs/includes/sidebar.html' }}}
  <div class="app-content">
    <div class="content-header">
      {{{ include 'src/hbs/includes/navbar.html' }}}
      <nav>
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">Chat</li>
        </ol>
      </nav>
    </div>
    <div class="content-body">
            <div class="chat">
        <div class="chat-messages">
          <div class="container">
            <p class="text-center">
              <small class="text-muted">March 23, 2018</small>
            </p>
            <div class="message-sent">
              <svg class="chat-avatar">
                <use href="/docs/assets/img/faces.svg#john"/>
              </svg>
              <p>
                Hello, there... I need some help!
                <br><small>8:52 AM</small>
              </p>
            </div>
            <p class="text-center">
              <small class="text-muted">Jane Doe joined the chat</small>
            </p>
            <div class="message-reply">
              <svg class="chat-avatar">
                <use href="/docs/assets/img/faces.svg#jane"/>
              </svg>
              <p>
                Hi, John. I'm happy to help. What can I do for you today?
                <br><small>8:54 AM</small>
              </p>
            </div>
            <div class="message-sent">
              <svg class="chat-avatar">
                <use href="/docs/assets/img/faces.svg#john"/>
              </svg>
              <p>
                I can't seem to pull up my order. Can you help me?
                <br><small>9:02 AM</small>
              </p>
            </div>
            <div class="message-reply">
              <svg class="chat-avatar">
                <use href="/docs/assets/img/faces.svg#jane"/>
              </svg>
              <p>
                Absolutely. You can find the status of, and trak, your order here: www.app.com/orders
                <br><small>9:03 AM</small>
              </p>
            </div>
            <div class="message-sent">
              <svg class="chat-avatar">
                <use href="/docs/assets/img/faces.svg#john"/>
              </svg>
              <p>
                Works great! Thank you!
                <br><small>9:07 AM</small>
              </p>
            </div>
            <div class="message-reply">
              <svg class="chat-avatar">
                <use href="/docs/assets/img/faces.svg#jane"/>
              </svg>
              <p>
                I'm glad you made it! :)
                <br><small>9:08 AM</small>
              </p>
            </div>
            <div class="message-reply">
              <svg class="chat-avatar">
                <use href="/docs/assets/img/faces.svg#jane"/>
              </svg>
              <p>
                Please let me know if you have any more questions.
                <br><small>9:08 AM</small>
              </p>
            </div>
            <p class="text-center">
              <small class="text-danger">Ending conversation since you've been inactive too long.</small>
            </p>
            <div class="message-reply">
              <svg class="chat-avatar">
                <use href="/docs/assets/img/faces.svg#bot"/>
              </svg>
              <p>
                Do you want to see the chat source code?
                <a href="#css-setup" data-toggle="collapse">
                  Click here and take a look.
                </a>
                <br><small>9:10 AM</small>
              </p>
            </div>
            <div class="source-code">
              <div id="css-setup" class="collapse">
                <pre><code class="html">{{ include 'src/hbs/includes/code-examples/content/chat.html' }}</code></pre>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-footer">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Type a message to Jane">
            <div class="input-group-append">
              <button type="button" class="btn btn-success">
                <i class="fa fa-paper-plane"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/inline}}

{{/src/hbs/page}}
