{{#>src/hbs/page}}

{{#*inline "head-block"}}
<meta name="description" content="Dashboard is a information management tool that visually tracks, analyzes and displays key performance indicators (KPI)." />
<title>Admin 4B · Dashboard</title>
{{/inline}}

{{#*inline "body-block"}}
<div class="app">
  {{{ include 'src/hbs/includes/sidebar.html' }}}
  <div class="app-content">
    <div class="content-header">
      {{{ include 'src/hbs/includes/navbar.html' }}}
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Dashboard</li>
        </ol>
      </nav>
    </div>
    <div class="content-body">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <di class="row">
              <div class="col-12 col-lg-8">
                <div class="form-group">
                  <p class="text-muted text-center">
                    Sales per month
                  </p>
                  <canvas id="sales" height="120"></canvas>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <p class="text-muted text-center">
                  Last sales
                </p>
                <div class="table-responsive">
                  <table class="table table-sm mb-0">
                    <thead>
                      <tr>
                        <th><small>Order ID</small></th>
                        <th><small>Payment</small></th>
                        <th><small>Amount</small></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>9390</td>
                        <td>
                          <span class="badge badge-success">cash</span>
                        </td>
                        <td>$12.25</td>
                      </tr>
                      <tr>
                        <td>9183</td>
                        <td>
                          <span class="badge badge-secondary">credit card</span>
                        </td>
                        <td>$80.75</td>
                      </tr>
                      <tr>
                        <td>4640</td>
                        <td>
                          <span class="badge badge-primary">paypal</span>
                        </td>
                        <td>$105.60</td>
                      </tr>
                      <tr>
                        <td>2442</td>
                        <td>
                          <span class="badge badge-secondary">credit card</span>
                        </td>
                        <td>$32.50</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="3" class="text-center pt-3">
                          <a href="#">See all sales</a>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="card">
                <div class="card-body">
                  <p class="text-muted text-center">
                    Payment methods usage
                  </p>
                  <canvas id="pay-methods" height="120"></canvas>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="card">
                <div class="card-body">
                  <p class="text-muted text-center">
                    Cash flow
                  </p>
                  <canvas id="cash-flow" height="120"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="source-code">
            <a href="#dashboard" data-toggle="collapse">
              <i class="fa fa-code"></i> Source code
            </a>
            <div id="dashboard" class="collapse">
              <div class="nav nav-tabs">
                <a href="#dashboard-html" class="active" data-toggle="tab">HTML</a>
                <a href="#dashboard-js" data-toggle="tab">JavaScript</a>
              </div>
              <div class="tab-content">
                <div id="dashboard-html" class="tab-pane active">
                  <pre><code class="html">{{ include 'src/hbs/includes/code-examples/content/dashboard.html' }}</code></pre>
                </div>
                <div id="dashboard-js" class="tab-pane">
                  <pre><code class="js">// Chart library available at <a href="https://www.chartjs.org">https://www.chartjs.org</a>.</code></pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/inline}}

{{#*inline "scripts-block"}}
<script src="/docs/assets/js/chart.js"></script>
{{/inline}}

{{/src/hbs/page}}
