{{#>src/hbs/page}}

{{#*inline "head-block"}}
<meta name="description" content="Sign up page allow users to create an account and enter first time credentials details." />
<title>Admin 4B · Sign up</title>
{{/inline}}

{{#*inline "body-block"}}
<div class="app">
  <div class="app-content">
    <div class="content-body">
      <div class="page-sign sign-up">
        <div class="container pb-0 mb-0">
          <div class="source-code">
            <a href="#settings" data-toggle="collapse">
              <i class="fa fa-code"></i> Source code
            </a>
            <div id="settings" class="collapse">
              <pre><code class="html">{{ include 'src/hbs/includes/code-examples/content/signup.html' }}</code></pre>
            </div>
          </div>
        </div>
        <div class="container-sign">
          <div class="card">
            <div class="card-header">
              <img src="/docs/assets/brand/admin4b.svg">
              <h1>Welcome</h1>
              <span>Sign up your account for free</span>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label>First name</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Last name</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>E-mail</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control">
              </div>
              <div class="form-group d-flex">
                <label class="checkbox">
                  <input type="checkbox">
                  <span class="check-mark"></span> I agree to&nbsp; <a href="#">terms</a>
                </label>
                <a href="/" class="btn btn-primary ml-auto">
                  Sign up
                </a>
              </div>
            </div>
            <div class="card-footer">
              <p class="text-muted">Already have an account?</p>
              <a href="/docs/pages/content/signin.html">Sign in now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/inline}}

{{/src/hbs/page}}
