<div id="sidebar-nav" class="sidebar-nav">
  <ul>
    <li>
      <a href="get-started.html">
        <span class="sidebar-nav-icon fa fa-rocket"></span>
        <span class="sidebar-nav-text">Get started</span>
      </a>
    </li>
  </ul>
  <hr>
  <span class="sidebar-nav-header">
    Guideline
  </span>
  <ul>
    <li>
      <a href="#device-controls" data-toggle="collapse">
        <span class="sidebar-nav-icon fa fa-laptop"></span>
        <span class="sidebar-nav-text">Device controls</span>
      </a>
      <ul id="device-controls" class="collapse" data-parent="#sidebar-nav">
        <li><a href="camera.html">Camera</a></li>
        <li><a href="file-manager.html">File manager</a></li>
      </ul>
    </li>
    <li>
      <a href="#forms" data-toggle="collapse">
        <span class="sidebar-nav-icon fa fa-pencil"></span>
        <span class="sidebar-nav-text">Forms</span>
      </a>
      <ul id="forms" class="collapse" data-parent="#sidebar-nav">
        <li><a href="basic-form.html">Basic form</a></li>
        <li><a href="tabbed-form.html">Tabbed form</a></li>
      </ul>
    </li>
  </ul>
</div>
