.app-sidebar.sidebar-fade
{
  @include crossbrowser-transition(opacity .3s linear, visibility .3s);

  @include bsmedia-breakpoint-down-to-sm
  {
    @include crossbrowser-opacity(0);
    @include crossbrowser-visibility(hidden);

    &.sidebar-open
    {
      @include crossbrowser-opacity(1);
      @include crossbrowser-visibility(visible);
    }
  }
}
