&lt;div class="app"&gt;
  &lt;div class="app-body"&gt;
    &lt;div class="app-sidebar"&gt;
      &lt;button type="button" class="btn btn-sidebar" data-dismiss="sidebar"&gt;
        &lt;span class="x"&gt;&lt;/span&gt;
      &lt;/button&gt;
      &lt;div class="sidebar-header"&gt;
        &lt;img src="john-doe.png" class="user-photo"&gt;
        &lt;p class="username"&gt;John Doe&lt;/p&gt;
      &lt;/div&gt;
      &lt;div id="sidebar-nav" class="sidebar-nav" data-children=".sidebar-nav-group"&gt;
        &lt;div class="sidebar-nav-btn"&gt;
          &lt;a href="page.html" class="btn btn-block btn-outline-light"&gt;
            Button link
          &lt;/a&gt;
        &lt;/div&gt;
        &lt;a href="page.html" class="sidebar-nav-link"&gt;
          Go to page
        &lt;/a&gt;
        &lt;div class="sidebar-nav-group"&gt;
          &lt;a href="#first-group" class="sidebar-nav-link collapsed" data-toggle="collapse" data-parent="#sidebar-nav"&gt;
            Open first group
          &lt;/a&gt;
          &lt;div id="first-group" class="sidebar-nav-group collapse"&gt;
            &lt;a href="page.html" class="sidebar-nav-link"&gt;
              Fisrt group page 1
            &lt;/a&gt;
            &lt;a href="page.html" class="sidebar-nav-link"&gt;
              Fisrt group page 2
            &lt;/a&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="sidebar-nav-group"&gt;
          &lt;a href="#second-group" class="sidebar-nav-link collapsed" data-toggle="collapse" data-parent="#sidebar-nav"&gt;
            Open second group
          &lt;/a&gt;
          &lt;div id="second-group" class="sidebar-nav-group collapse"&gt;
            &lt;a href="page.html" class="sidebar-nav-link"&gt;
              Second group page 1
            &lt;/a&gt;
            &lt;a href="page.html" class="sidebar-nav-link"&gt;
              Second group page 2
            &lt;/a&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="sidebar-footer"&gt;
        &lt;a href="#" data-toggle="tooltip" title="GitHub"&gt;
          &lt;i class="fa fa-github"&gt;&lt;/i&gt;
        &lt;/a&gt;
        &lt;a href="#" data-toggle="tooltip" title="Settings"&gt;
          &lt;i class="fa fa-cog"&gt;&lt;/i&gt;
        &lt;/a&gt;
        &lt;a href="#" data-toggle="tooltip" title="Logout"&gt;
          &lt;i class="fa fa-power-off"&gt;&lt;/i&gt;
        &lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="app-content"&gt;
      &lt;nav class="navbar navbar-expand navbar-light bg-white"&gt;
        &lt;button type="button" class="btn btn-sidebar" data-toggle="sidebar"&gt;
          &lt;i class="fa fa-bars"&gt;&lt;/i&gt;
        &lt;/button&gt;
        &lt;div class="navbar-brand"&gt;Admin 4B&lt;/div&gt;
      &lt;/nav&gt;
      &lt;nav aria-label="breadcrumb"&gt;
        &lt;ol class="breadcrumb"&gt;
          &lt;li class="breadcrumb-item"&gt;Home&lt;/li&gt;
          &lt;li class="breadcrumb-item active" aria-current="page"&gt;Library&lt;/li&gt;
        &lt;/ol&gt;
      &lt;/nav&gt;
      &lt;div class="container-fluid"&gt;
        Hello World!
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
