&lt;body&gt;
  &lt;div class="app-sidebar"&gt;
    &lt;div class="sidebar-header"&gt;
      &lt;img src="john-doe.png" class="avatar"&gt;
      &lt;div class="username"&gt;
        &lt;span&gt;John Doe&lt;/span&gt;
        &lt;small&gt;john_doe@email.com&lt;/small&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div id="sidebar-nav" class="sidebar-nav"&gt;
      &lt;ul&gt;
        &lt;li&gt;
          &lt;a href="get-started.html"&gt;
            &lt;span class="sidebar-nav-icon fa fa-rocket"&gt;&lt;/span&gt;
            &lt;span class="sidebar-nav-text"&gt;Get started&lt;/span&gt;
          &lt;/a&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
      &lt;hr&gt;
      &lt;span class="sidebar-nav-header"&gt;
        Guideline
      &lt;/span&gt;
      &lt;ul&gt;
        &lt;li&gt;
          &lt;a href="#device-controls" data-toggle="collapse"&gt;
            &lt;span class="sidebar-nav-icon fa fa-laptop"&gt;&lt;/span&gt;
            &lt;span class="sidebar-nav-text"&gt;Device controls&lt;/span&gt;
          &lt;/a&gt;
          &lt;ul id="device-controls" class="collapse" data-parent="#sidebar-nav"&gt;
            &lt;li&gt;&lt;a href="camera.html"&gt;Camera&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="file-manager.html"&gt;File manager&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;a href="#forms" data-toggle="collapse"&gt;
            &lt;span class="sidebar-nav-icon fa fa-pencil"&gt;&lt;/span&gt;
            &lt;span class="sidebar-nav-text"&gt;Forms&lt;/span&gt;
          &lt;/a&gt;
          &lt;ul id="forms" class="collapse" data-parent="#sidebar-nav"&gt;
            &lt;li&gt;&lt;a href="basic-form.html"&gt;Basic form&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="tabbed-form.html"&gt;Tabbed form&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="app-content"&gt;
    &lt;div class="content-header"&gt;
      &lt;nav class="navbar navbar-expand navbar-light bg-white"&gt;
        &lt;div class="navbar-brand"&gt;Admin 4B&lt;/div&gt;
      &lt;/nav&gt;
      &lt;nav&gt;
        &lt;ol class="breadcrumb"&gt;
          &lt;li class="breadcrumb-item"&gt;Layout&lt;/li&gt;
          &lt;li class="breadcrumb-item"&gt;Sidebar&lt;/li&gt;
        &lt;/ol&gt;
      &lt;/nav&gt;
    &lt;/div&gt;
    &lt;div class="content-body"&gt;
      &lt;div class="container"&gt;
        Hello World!
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/body&gt;
