&lt;div class="input-group"&gt;
  &lt;div class="input-group-prepend"&gt;
    &lt;span class="input-group-text"&gt;$&lt;/span&gt;
  &lt;/div&gt;
  &lt;input type="text" class="form-control"&gt;
  &lt;div class="input-group-append"&gt;
    &lt;span class="input-group-text"&gt;.00&lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class="input-group as-input prepend append"&gt;
  &lt;div class="input-group-prepend"&gt;
    &lt;span class="input-group-text"&gt;$&lt;/span&gt;
  &lt;/div&gt;
  &lt;input type="text" class="form-control"&gt;
  &lt;div class="input-group-append"&gt;
    &lt;span class="input-group-text"&gt;.00&lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;
