&lt;ul id="sidebar-nav" class="sidebar-nav"&gt;
  &lt;li class="sidebar-nav-btn"&gt;
    &lt;a href="page.html" class="btn btn-block btn-outline-light"&gt;
      Button link
    &lt;/a&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;a href="page.html" class="sidebar-nav-link"&gt;
      &lt;i class="icon-link"&gt;&lt;/i&gt; Go to page
    &lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="sidebar-nav-group"&gt;
    &lt;a href="#first-group" class="sidebar-nav-link" data-toggle="collapse"&gt;
      &lt;i class="icon-folder"&gt;&lt;/i&gt; Open first group
    &lt;/a&gt;
    &lt;ul id="first-group" class="collapse" data-parent="#sidebar-nav"&gt;
      &lt;li&gt;
        &lt;a href="page.html" class="sidebar-nav-link"&gt;Fisrt group page 1&lt;/a&gt;
      &lt;/li&gt;
      &lt;li&gt;
        &lt;a href="page.html" class="sidebar-nav-link"&gt;Fisrt group page 2&lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/li&gt;
  &lt;li class="sidebar-nav-group"&gt;
    &lt;a href="#second-group" class="sidebar-nav-link" data-toggle="collapse"&gt;
      &lt;i class="icon-folder"&gt;&lt;/i&gt; Open second group
    &lt;/a&gt;
    &lt;ul id="second-group" class="collapse" data-parent="#sidebar-nav"&gt;
      &lt;li&gt;
        &lt;a href="page.html" class="sidebar-nav-link"&gt;Second group page 1&lt;/a&gt;
      &lt;/li&gt;
      &lt;li&gt;
        &lt;a href="page.html" class="sidebar-nav-link"&gt;Second group page 2&lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/li&gt;
&lt;/ul&gt;
