html, body
{
    background: $bscolors-gray-100;
    width: 100%;
    height: 100%;
}

body
{
    font-family: 'Open Sans', sans-serif;
}

.app, .app-sidebar, .app-content
{
    height: 100%;
}

.app
{
    position: relative;
    width: 100%;

    &:before
    {
        content: "";
        height: 100%;
        float: left;
    }

    &:after
    {
        content: "";
        clear: both;
        display: block;
    }

    .app-body
    {
        position: absolute;
        width: 100%;
        height: 100%;

        .app-sidebar
        {
            background: $bscolors-white;
            float: left;
            overflow-x: hidden;
            overflow-y: scroll;
            padding: 15px 0;
            width: 260px;

            &::-webkit-scrollbar
            {
                width: 3px;
            }

            &::-webkit-scrollbar
            {
                background-color: $bscolors-gray-300;
            }

            &::-webkit-scrollbar-thumb
            {
                background-color: $bscolors-blue;
            }

            @include bsmedia-breakpoint-down-to-sm
            {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2050;
                width: 0;

                &.sidebar-open
                {
                    width: 100%;
                }
            }
        }

        .app-content
        {
            position: relative;
            overflow: auto;
        }
    }
}
