html, body
{
    background: $body-bg-color;
    width: 100%;
    height: 100%;
}

.app, .app-sidebar, .app-content
{
    height: 100%;
}

.app
{
    position: relative;
    width: 100%;

    &:before
    {
        content: "";
        height: 100%;
        float: left;
    }

    &:after
    {
        content: "";
        clear: both;
        display: block;
    }

    .app-body
    {
        position: absolute;
        width: 100%;
        height: 100%;

        .app-sidebar
        {
            background: $sidebar-bg-color;
            float: left;
            overflow-x: hidden;
            overflow-y: scroll;
            padding: 15px 0;
            width: 260px;

            &::-webkit-scrollbar
            {
                background-color: darken($sidebar-bg-color, 5%);
                width: 3px;
            }

            &::-webkit-scrollbar-thumb
            {
                background-color: $sidebar-scrollbar-thumb-color;
            }
        }

        .app-content
        {
            position: relative;
            overflow: auto;
        }
    }
}
