html, body
{
    background: $variables-body-bg-color;
    width: 100%;
    height: 100%;
}

.app, .app-sidebar, .app-content
{
    height: 100%;
}

.app
{
    position: relative;
    width: 100%;

    &:before
    {
        content: "";
        height: 100%;
        float: left;
    }

    &:after
    {
        content: "";
        clear: both;
        display: block;
    }

    .app-body
    {
        position: absolute;
        width: 100%;
        height: 100%;

        .app-sidebar
        {
            background: $variables-sidebar-bg-color;
            float: left;
            overflow-x: hidden;
            overflow-y: scroll;
            padding: 15px 0;
            width: $variables-sidebar-width;
            @include crossbrowser-transition(width .3s);

            &::-webkit-scrollbar
            {
                background-color: darken($variables-sidebar-bg-color, 5%);
                width: 3px;
            }

            &::-webkit-scrollbar-thumb
            {
                background-color: $variables-sidebar-scrollbar-thumb-color;
            }

            @include bsmedia-breakpoint-down-to-sm
            {
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                z-index: 2050;

                &.sidebar-open
                {
                    width: 100%;
                }
            }
        }

        .app-content
        {
            position: relative;
            overflow: auto;
        }
    }
}
