$variables-body-bg-color: $bscolors-gray-100;
$variables-sidebar-bg-color: $flatuicolors-wet-asphalt;
$variables-sidebar-text-color: lighten($variables-sidebar-bg-color, 40%);
$variables-sidebar-scrollbar-thumb-color: $bscolors-cyan;
$variables-sidebar-width: 260px;
