.profile
{
    padding: 0 20px;
    text-align: center;

    .user-photo
    {
        background-color: darken($sidebar-bg-color, 5%);
        border: 3px solid $sidebar-user-photo-border-color;
        border-radius: 50%;
        padding: 3px;
        width: 96px;
    }

    .username
    {
        color: lighten($sidebar-bg-color, 40%);
        padding: 10px 0;
    }
}
