<!-- @@master = /includes/app.html-->
<!-- @@block = content -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Layout</li>
    <li class="breadcrumb-item active" aria-current="page">Sidebar</li>
  </ol>
</nav>
<div class="container-fluid">
  <h2>
    Layout
  </h2>
  <p>
    The layout structure consists of two columns. The first column is the sidebar and the second is the app content
    that takes the remaining width. The basic code of the layout structure can be seen below.
  </p>
  <div class="source-code">
    <a href="#basic-structure" data-toggle="collapse">
      <i class="fa fa-code"></i> Source code
    </a>
    <div id="basic-structure" class="collapse">
      <pre><code class="html">@@include('includes/code-examples/layout/basic-structure.html')</code></pre>
    </div>
  </div>
  <h3>
    Sidebar
  </h3>
  <p>
    The sidebar is the left column of the layout structure and has a header, a navigation and a footer.
    The template was designed using a sidebar with a maximum of two level of navigation.
  </p>
  <h4>
    Header
  </h4>
  <p>
    The header of the sidebar comes first. It contains the user informations like photo and name.
  </p>
  <div class="source-code">
    <a href="#sidebar-header" data-toggle="collapse">
      <i class="fa fa-code"></i> Source code
    </a>
    <div id="sidebar-header" class="collapse">
      <pre><code class="html">@@include('includes/code-examples/layout/sidebar/sidebar-header.html')</code></pre>
    </div>
  </div>
  <h4>
    Navigation
  </h4>
  <p>
    The single level of navigation is defined by class <code>.sidebar-nav-link</code> and takes the user to desired page.
    You also can add buttons to sidebar wrapped with <code>.sidebar-nav-btn</code>.
    The two level of navigation is defined by class <code>.sidebar-nav-group</code> and opens the corresponding group of links.
    The attribute <code>data-parent</code> configures the accordion menu
    (refer to <a href="https://getbootstrap.com/docs/4.1/components/collapse">bootstrap documentation</a> for details).
  </p>
  <div class="source-code">
    <a href="#sidebar-navigation" data-toggle="collapse">
      <i class="fa fa-code"></i> Source code
    </a>
    <div id="sidebar-navigation" class="collapse">
      <pre><code class="html">@@include('includes/code-examples/layout/sidebar/sidebar-nav.html')</code></pre>
    </div>
  </div>
  <h4>
    Footer
  </h4>
  <p>
    The sidebar footer contains a set of other buttons like a small toolbar.
  </p>
  <div class="source-code">
    <a href="#sidebar-footer" data-toggle="collapse">
      <i class="fa fa-code"></i> Source code
    </a>
    <div id="sidebar-footer" class="collapse">
      <pre><code class="html">@@include('includes/code-examples/layout/sidebar/sidebar-footer.html')</code></pre>
    </div>
  </div>
  <h3>
    Content
  </h3>
  <p>
    The content is the right column of the layout structure and contains the page content that the user navigated to.
    The content can contain the components of the bootstrap such as navbar, breadcrumb and any other components you may need.
  </p>
  <div class="source-code">
    <a href="#app-content" data-toggle="collapse">
      <i class="fa fa-code"></i> Source code
    </a>
    <div id="app-content" class="collapse">
      <pre><code class="html">@@include('includes/code-examples/layout/app-content.html')</code></pre>
    </div>
  </div>
  <h3>
    Responsive
  </h3>
  <p>
    The template uses the bootstrap breakpoints to define the minimum width to show the sidebar.
    When hidden the attributes <code>data-toggle="sidebar"</code> and <code>data-dismiss="sidebar"</code>
    can be used to show and close the sidebar respectively.
  </p>
  <div class="source-code">
    <a href="#sidebar-triggers" data-toggle="collapse">
      <i class="fa fa-code"></i> Source code
    </a>
    <div id="sidebar-triggers" class="collapse">
      <pre><code class="html">@@include('includes/code-examples/layout/sidebar/sidebar-triggers.html')</code></pre>
    </div>
  </div>
  <h3>
    Example
  </h3>
  <p>
    An example code for the full setup of the sidebar can be seen below.
  </p>
  <div class="source-code">
    <a href="#starter-template" data-toggle="collapse">
      <i class="fa fa-code"></i> Source code
    </a>
    <div id="starter-template" class="collapse">
      <pre><code class="html">@@include('includes/code-examples/layout/starter-template.html')</code></pre>
    </div>
  </div>
  <h3>
    What's next?
  </h3>
  <p>
    <a href="@@webRoot/pages/layout/theming.html">Customize the sidebar navigation</a>
  </p>
</div>
<!-- @@close -->
