<!-- @@master = /includes/app.html-->
<!-- @@block = content -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Layout</li>
    <li class="breadcrumb-item active" aria-current="page">Spinner</li>
  </ol>
</nav>
<div class="container-fluid">
  <h2>
    Spinner
  </h2>
  <p>
    Spinners enables you to tell the users that the app is currently processing.
    See a basic example below:
  </p>
  <div class="form-group">
    <div class="spinner">
      <div class="spinner-bar"></div>
    </div>
  </div>
  <div class="source-code">
    <a href="#spinner-basic" data-toggle="collapse">
      <i class="fa fa-code"></i> Source code
    </a>
    <div id="spinner-basic" class="collapse">
      <pre><code class="html">@@include('includes/code-examples/layout/spinner/spinner-basic.html')</code></pre>
    </div>
  </div>
  <h3>
    Sizes
  </h3>
  <p>
    Add <code>.spinner-sm</code> for smaller spinners or <code>.spinner-lg</code> for larger.
  </p>
  <div class="form-group">
    <div class="spinner spinner-sm">
      <div class="spinner-bar"></div>
    </div>
    <div class="spinner">
      <div class="spinner-bar"></div>
    </div>
    <div class="spinner spinner-lg">
      <div class="spinner-bar"></div>
    </div>
  </div>
  <div class="source-code">
    <a href="#spinner-sizes" data-toggle="collapse">
      <i class="fa fa-code"></i> Source code
    </a>
    <div id="spinner-sizes" class="collapse">
      <pre><code class="html">@@include('includes/code-examples/layout/spinner/spinner-sizes.html')</code></pre>
    </div>
  </div>
  <h3>
    Blocker
  </h3>
  <p>
    You can block user interaction to the app by using a blocker spinner.
  </p>
  <p>
    How it works:
  </p>
  <ul>
    <li>
      To make the spinner full screen and block the interaction of the user to the app
      you need to add the class <code>.spinner-block</code> to <code>.spinner</code>.
    </li>
    <li>
      To show the spinner you just need to add the class <code>.show</code> to <code>.spinner</code>
      and to hide you just need to remove this class.
    </li>
    <li>
      You can also show small information to the user while the app is processing by using the
      class <code>.spinner-text</code>.
    </li>
  </ul>
  <div class="form-group">
    <button id="spinner-toggle" type="button" class="btn btn-primary">
      Start processing
    </button>
  </div>
  <div id="spinner" class="spinner spinner-block">
    <div class="spinner-bar"></div>
    <div class="spinner-text">Will close after 3 seconds...</div>
  </div>
  <div class="source-code">
    <a href="#spinner-block" data-toggle="collapse">
      <i class="fa fa-code"></i> Source code
    </a>
    <div id="spinner-block" class="collapse">
      <div class="nav nav-tabs">
        <a href="#spinner-block-html" class="active" data-toggle="tab">HTML</a>
        <a href="#spinner-block-js" data-toggle="tab">JavaScript</a>
      </div>
      <div class="tab-content">
        <div id="spinner-block-html" class="tab-pane active">
          <pre><code class="html">@@include('includes/code-examples/layout/spinner/spinner-block.html')</code></pre>
        </div>
        <div id="spinner-block-js" class="tab-pane">
          <pre><code class="js">@@include('includes/code-examples/layout/spinner/spinner-block.js')</code></pre>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- @@close -->
