<!-- @@master = /includes/app.html-->
<!-- @@block = content -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Layout</li>
    <li class="breadcrumb-item active" aria-current="page">Style</li>
  </ol>
</nav>
<div class="container-fluid">
  <h2>
    Style
  </h2>
  <p>
    Some colors and animations are available for the sidebar.
  </p>
  <h3>
    Colors
  </h3>
  <p>
    The sidebar comes with some color options:
  </p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <tr>
        <th>Color</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>default</td>
        <td>Uses the default element colors (starting point for customization).</td>
      </tr>
      <tr>
        <td>dark</td>
        <td>Applied using the class <code>.sidebar-dark</code>.</td>
      </tr>
      <tr>
        <td>light</td>
        <td>Applied using the class <code>.sidebar-light</code>.</td>
      </tr>
    </table>
  </div>
  <h4>Examples</h4>
  <pre><code class="html">@@include('includes/code-examples/layout/sidebar/sidebar-colors.html')</code></pre>
  <h3>
    Animations
  </h3>
  <p>
    The sidebar comes with two animations:
  </p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <tr>
        <th>Animation</th>
        <th>Description</th>
      </tr>
      <tr>
        <td class="text-nowrap"><code>.sidebar-fade</code></td>
        <td>Fade in and fade out effects.</td>
      </tr>
      <tr>
        <td class="text-nowrap"><code>.sidebar-slide-left</code></td>
        <td>Slide from left to right.</td>
      </tr>
    </table>
  </div>
  <h4>
    Examples
  </h4>
  <pre><code class="html">@@include('includes/code-examples/layout/sidebar/sidebar-animations.html')</code></pre>
  <h3>
    Width
  </h3>
  <p>
    The width of sidebar can only be changed by code. See the example below:
  </p>
  <pre><code class="css">@@include('includes/code-examples/layout/sidebar/sidebar-width.css')</code></pre>
  <h3>
    What's next?
  </h3>
  <p>
    The app structure is complete. From here you can decide what you want to see next.
  </p>
</div>
<!-- @@close -->
