<!doctype html>
<html lang="en">
  <head>
    @@include('includes/header.html')
  </head>
  <body>
    <div class="app">
      <div class="app-body">
        @@include('includes/sidebar.html')
        <div class="app-content">
          @@include('includes/navbar.html')
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Layout</li>
              <li class="breadcrumb-item active" aria-current="page">Style</li>
            </ol>
          </nav>
          <div class="container-fluid">
            <h1 class="display-4">
              Soon...
            </h1>
          </div>
        </div>
      </div>
    </div>
    @@include('includes/scripts.html')
  </body>
</html>
