<!-- @@master = /includes/app.html-->
<!-- @@block = head -->
<meta name="description" content="Table.........." />
<title>Admin 4B · Table</title>
<!-- @@close -->
<!-- @@block = breadcrumb -->
<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Layout</li>
    <li class="breadcrumb-item">Table</li>
  </ol>
</nav>
<!-- @@close -->
<!-- @@block = body -->
<div class="container-fluid">
  <h1>
    Table
  </h1>
  <p>
    Table..........
    See a basic example below:
  </p>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr class="d-flex">
          <th class="col-1"></th>
          <th class="col">Order ID</th>
          <th class="col">Username</th>
          <th class="col">Payment</th>
          <th class="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex">
          <td class="col-1">
            <label class="checkbox checkbox-success">
              <input type="checkbox"/>
              <span class="check-mark"></span>
            </label>
          </td>
          <td class="col">2194</td>
          <td class="col">carla.leach</td>
          <td class="col">
            <span class="badge badge-primary">paypal</span>
          </td>
          <td class="col">$59.85</td>
        </tr>
        <tr class="d-flex">
          <td class="col-1">
            <label class="checkbox checkbox-success">
              <input type="checkbox"/>
              <span class="check-mark"></span>
            </label>
          </td>
          <td class="col">2442</td>
          <td class="col">kameron.burks</td>
          <td class="col">
            <span class="badge badge-secondary">credit card</span>
          </td>
          <td class="col">$32.50</td>
        </tr>
        <tr class="d-flex">
          <td class="col-1">
            <label class="checkbox checkbox-success">
              <input type="checkbox"/>
              <span class="check-mark"></span>
            </label>
          </td>
          <td class="col">4640</td>
          <td class="col">jake.reese</td>
          <td class="col">
            <span class="badge badge-primary">paypal</span>
          </td>
          <td class="col">$105.60</td>
        </tr>
        <tr class="d-flex">
          <td class="col-1">
            <label class="checkbox checkbox-success">
              <input type="checkbox"/>
              <span class="check-mark"></span>
            </label>
          </td>
          <td class="col">9390</td>
          <td class="col">bryce.sellers</td>
          <td class="col">
            <span class="badge badge-success">cash</span>
          </td>
          <td class="col">$12.25</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a href="#" class="page-link">1</a>
              </li>
              <li class="page-item disabled">
                  <span class="page-link">...</span>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">8</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">9</a>
              </li>
              <li class="page-item active">
                <a href="#" class="page-link">10</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">11</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">12</a>
              </li>
              <li class="page-item disabled">
                  <span class="page-link">...</span>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">20</a>
              </li>
            </ul>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <p class="callout callout-info">
    The use of the utility classes <code>d-flex</code> and <code>col-*</code> is not mandatory.
    You can use it if you need to resize the table columns.
  </p>
  <div class="source-code">
    <a href="#spinner-basic" data-toggle="collapse">
      <i class="fa fa-code"></i> Source code
    </a>
    <div id="spinner-basic" class="collapse">
      <pre><code class="html">@@include('includes/code-examples/layout/spinner/spinner-basic.html')</code></pre>
    </div>
  </div>
  <h2>
    Paging
  </h2>
</div>
<!-- @@close -->
