pre
{
  background: #efefef;
  overflow-x: auto;
}

.hljs-meta
{
  color: #099;
}

.hljs-section,
.hljs-tag
{
  color: #2f6f9f;
}

.hljs-tag .hljs-attr
{
  color: #4f9fcf;
}

.hljs-tag .hljs-string
{
  color: #d44950;
}

.hljs-comment
{
  color: #999;
}
