pre
{
  background: #efefef;
  overflow-x: auto;
}

.html .hljs-meta
{
  color: #099;
}

.html .hljs-section,
.html .hljs-tag
{
  color: #2f6f9f;
}

.html .hljs-tag .hljs-attr
{
  color: #4f9fcf;
}

.html .hljs-tag .hljs-string
{
  color: #d44950;
}

.html .hljs-comment
{
  color: #999;
}

.js .hljs-string
{
  color: #c30;
}

.js .hljs-keyword
{
  color: #069;
}

.js .hljs-comment
{
  color: #999;
}
