.css .hljs-keyword
{
  color: $highlight-keyword;
}

.css .hljs-selector-class
{
  color: $highlight-class;
}

.css .hljs-attribute
{
  color: $highlight-attribute;
}

.css .hljs-comment
{
  color: $highlight-comment;
}

.css .hljs-number
{
  color: $highlight-number;
}
