.css .hljs-keyword
{
  color: $highlight-colors-keyword;
}

.css .hljs-selector-class
{
  color: $highlight-colors-class;
}

.css .hljs-attribute
{
  color: $highlight-colors-attribute;
}

.css .hljs-comment
{
  color: $highlight-colors-comment;
}

.css .hljs-number
{
  color: $highlight-colors-number;
}
