.source-code
{
  .css .hljs-keyword
  {
    color: $highlight-light-keyword;
  }

  .css .hljs-selector-class
  {
    color: $highlight-light-class;
  }

  .css .hljs-attribute
  {
    color: $highlight-light-attribute;
  }

  .css .hljs-comment
  {
    color: $highlight-light-comment;
  }

  .css .hljs-number
  {
    color: $highlight-light-number;
  }
}

.source-code.dark
{
  .css .hljs-keyword
  {
    color: $highlight-dark-keyword;
  }

  .css .hljs-selector-class
  {
    color: $highlight-dark-class;
  }

  .css .hljs-attribute
  {
    color: $highlight-dark-attribute;
  }

  .css .hljs-comment
  {
    color: $highlight-dark-comment;
  }

  .css .hljs-number
  {
    color: $highlight-dark-number;
  }
}
