.html .hljs-meta
{
  color: $highlight-html-meta;
}

.html .hljs-section,
.html .hljs-tag
{
  color: $highlight-keyword;
}

.html .hljs-tag .hljs-attr
{
  color: $highlight-attribute;
}

.html .hljs-tag .hljs-string
{
  color: $highlight-string;
}

.html .hljs-comment
{
  color: $highlight-comment;
}
