.source-code
{
  .html .hljs-meta
  {
    color: $highlight-light-namespace;
  }

  .html .hljs-section,
  .html .hljs-tag
  {
    color: $highlight-light-keyword;
  }

  .html .hljs-tag .hljs-attr
  {
    color: $highlight-light-attribute;
  }

  .html .hljs-tag .hljs-string
  {
    color: $highlight-light-string;
  }

  .html .hljs-comment
  {
    color: $highlight-light-comment;
  }
}

.source-code.dark
{
  .html .hljs-meta
  {
    color: $highlight-dark-namespace;
  }

  .html .hljs-section,
  .html .hljs-tag
  {
    color: $highlight-dark-keyword;
  }

  .html .hljs-tag .hljs-attr
  {
    color: $highlight-dark-attribute;
  }

  .html .hljs-tag .hljs-string
  {
    color: $highlight-dark-string;
  }

  .html .hljs-comment
  {
    color: $highlight-dark-comment;
  }
}
