.source-code
{
  .js .hljs-number
  {
    color: $highlight-light-number;
  }

  .js .hljs-string
  {
    color: $highlight-light-string;
  }

  .js .hljs-keyword
  {
    color: $highlight-light-keyword;
  }

  .js .hljs-comment
  {
    color: $highlight-light-comment;
  }
}

.source-code.dark
{
  .js .hljs-number
  {
    color: $highlight-dark-number;
  }

  .js .hljs-string
  {
    color: $highlight-dark-string;
  }

  .js .hljs-keyword
  {
    color: $highlight-dark-keyword;
  }

  .js .hljs-comment
  {
    color: $highlight-dark-comment;
  }
}
