.source-code
{
  .json .hljs-attr
  {
    color: $highlight-light-attribute;
  }

  .json .hljs-string
  {
    color: $highlight-light-string;
  }

  .json .hljs-literal,
  {
    color: $highlight-light-keyword;
  }

  .json .hljs-number
  {
    color: $highlight-light-number;
  }
}

.source-code.dark
{
  .json .hljs-attr
  {
    color: $highlight-dark-attribute;
  }

  .json .hljs-string
  {
    color: $highlight-dark-string;
  }

  .json .hljs-literal,
  {
    color: $highlight-dark-keyword;
  }

  .json .hljs-number
  {
    color: $highlight-dark-number;
  }
}
