.json .hljs-attr
{
  color: $highlight-colors-attribute;
}

.json .hljs-string
{
  color: $highlight-colors-string;
}

.json .hljs-literal,
{
  color: $highlight-colors-keyword;
}

.json .hljs-number
{
  color: $highlight-colors-number;
}
