.source-code
{
  $bg-color: #222d32;
  $text-color: #fff;

  margin-bottom: 1rem;

  .nav-tabs a
  {
    color: darken($text-color, 50%);
    font-size: .95rem;
    text-decoration: none;
    padding: .75rem;
    @include crossbrowser-transition(color .2s ease);

    &.active,
    &:hover
    {
      color: $text-color;
    }
  }

  pre,
  .nav-tabs
  {
    background: $bg-color;
    border: none;
  }

  pre
  {
    color: $highlight-colors-literal;
    margin: 0;
    overflow-x: auto;
  }
}
