.source-code
{
  margin-bottom: 1rem;

  .nav-tabs a
  {
    color: $highlight-light-editor-link;
    font-size: .95rem;
    text-decoration: none;
    padding: .75rem;
    padding-bottom: 0;
    @include crossbrowser-transition(color .2s ease);

    &.active,
    &:active,
    &:hover
    {
      color: darken($highlight-light-editor-link, 30%);
    }
  }

  pre,
  .nav-tabs
  {
    background: $highlight-light-editor-bg;
    border: none;
  }

  pre
  {
    margin: 0;
    overflow-x: auto;
    padding: .75rem;
  }
}

.source-code.dark
{
  .nav-tabs a
  {
    color: darken($highlight-dark-editor-link, 50%);

    &.active,
    &:active,
    &:hover
    {
      color: $highlight-dark-editor-link;
    }
  }

  pre,
  .nav-tabs
  {
    background: $highlight-dark-editor-bg;
  }

  pre
  {
    color: $highlight-dark-literal;
  }
}
