<div class="card">
  <div class="card-header">
    Purchases
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>
            <div class="d-flex">
              <label class="checkbox mr-2">
                <input type="checkbox"/>
                <span class="check-mark"></span>
              </label>
              Order
            </div>
          </th>
          <th>Buyer</th>
          <th>Payment</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="d-flex">
              <label class="checkbox mr-2">
                <input type="checkbox"/>
                <span class="check-mark"></span>
              </label>
              2194
            </div>
          </td>
          <td>Carla Leach</td>
          <td>
            <span class="badge badge-primary">paypal</span>
          </td>
          <td>$59.85</td>
        </tr>
        <tr>
          <td>
            <div class="d-flex">
              <label class="checkbox mr-2">
                <input type="checkbox"/>
                <span class="check-mark"></span>
              </label>
              2442
            </div>
          </td>
          <td>Kameron Burks</td>
          <td>
            <span class="badge badge-info">credit card</span>
          </td>
          <td>$32.50</td>
        </tr>
        <tr>
        <td>
          <div class="d-flex">
              <label class="checkbox mr-2">
                <input type="checkbox"/>
                <span class="check-mark"></span>
              </label>
              4640
            </div>
          </td>
          <td>Jake Reese</td>
          <td>
            <span class="badge badge-primary">paypal</span>
          </td>
          <td>$105.60</td>
        </tr>
        <tr>
        <td>
          <div class="d-flex">
              <label class="checkbox mr-2">
                <input type="checkbox"/>
                <span class="check-mark"></span>
              </label>
              9390
            </div>
          </td>
          <td>Bryce Sellers</td>
          <td>
            <span class="badge badge-success">cash</span>
          </td>
          <td>$12.25</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <ul class="pagination justify-content-center"></ul>
  </div>
</div>
