html, body {
  width: 100%;
  height: 100%;
}

body {
  background: $body-bg;
  box-sizing: border-box;
  display: flex;
  font-family: $font-family-base;
  font-size: $font-size-base;
  margin: 0;
  overflow: hidden;
}

.app-sidebar,
.app-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 0;
}

.app-sidebar {
  flex-shrink: 0;
  box-shadow: $sidebar-box-shadow;
  overflow-x: hidden;
  overflow-y: auto;
  width: $sidebar-width;
  transition: width .3s;
  z-index: $zindex-fixed;

  @include breakpoint-down-to-sm {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;

    &.show {
      box-shadow: $sidebar-box-shadow-sm;
      width: $sidebar-width;

      &::before {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.app-content {
  flex: 1;
}

.app-sidebar .sidebar-header,
.app-content .content-header {
  flex-shrink: 0;
}

.app-sidebar .sidebar-nav,
.app-content .content-body {
  flex-grow: 1;
}

.app-content .content-body {
  overflow-y: auto;
  padding: 1rem 0;
}
