.modal.modal-calendar .modal-dialog {
  max-width: 20rem;
  margin: $modal-dialog-margin-y-sm-up auto;

  @media (max-width: 21rem) {
    margin: $modal-dialog-margin;
  }

  .modal-content {
    .modal-header {
      .btn:hover,
      .btn:focus,
      .form-control:hover,
      .form-control:focus {
        box-shadow: 0 0 .125rem 0 rgba(0, 0, 0, .25);
      }

      .form-control {
        border: none;
        text-align: center;
      }

      .dropdown {
        width: 8.75rem;
      }

      input.form-control {
        width: 4.375rem;
      }
    }

    .modal-footer {
      justify-content: center;
      align-items: center;
    }
  }
}

table.table-calendar {
  margin-bottom: .5rem;
  text-align: center;
  width: 100%;

  th {
    font-weight: normal;
    padding-bottom: .9375rem;

    &:first-child {
      color: $danger;
    }
  }

  td {
    color: $gray-500;
    padding: .3125rem;

    a {
      color: $gray-700;
      display: block;
      position: relative;
      text-align: center;
      text-decoration: none;
      z-index: 1;

      &::before {
        border: .0625rem solid $primary;
        border-radius: 50%;
        content: " ";
        display: none;
        position: absolute;
        top: -.25rem;
        left: -.0625rem;
        width: 2rem;
        height: 2rem;
        z-index: -1;
      }

      &:hover,
      &.active {
        color: $white;

        &::before {
          background: $primary;
          display: block;
        }
      }

      &.today::before {
        display: block;
      }

      &.sunday {
        color: $danger;
      }
    }
  }
}
