.card {
  box-shadow: $card-box-shadow;
  margin-bottom: $card-margin-bottom;

  @include make-container-sm-full-width();

  .card-header {
    border-bottom: $card-header-border-width solid $card-border-color;
  }

  .card-footer {
    border-top: $card-footer-border-width solid $card-border-color;
  }

  .table {
    margin: $card-spacer-y 0;
  }

  .list-group {
    box-shadow: none;
  }
}
