@keyframes ballon {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.chat {
  display: flex;
  flex-flow: column;
  height: 100%;
  padding: 0;

  .chat-messages {
    flex: 1;
    overflow-y: auto;

    .message-sent,
    .message-reply {
      margin-bottom: 1rem;

      img {
        vertical-align: top;
        width: 3rem;
        border-radius: 50%;
      }

      p {
        display: inline-block;
        margin: 0;
        padding: .625rem 1.25rem;
        text-align: left;
        max-width: 75%;
        animation: ballon .2s linear;
        border-radius: 1.25rem;
      }
    }

    .message-sent p {
      border-top-left-radius: .5rem;
    }

    .message-reply p {
      border-top-right-radius: .5rem;
    }

    .message-sent {
      img {
        margin-right: .375rem;
      }

      p {
        background-color: $primary;
        color: $white;
        transform-origin: top left;
      }

      small {
        color: lighten($primary, 35%);
      }
    }

    .message-reply {
      text-align: right;

      img {
        float: right;
        margin-left: .625rem;
      }

      p {
        background-color: lighten($gray-500, 15%);
        transform-origin: top right;
      }

      small {
        color: $gray-600;
      }
    }
  }

  .chat-footer {
    .btn,
    .form-control {
      border-radius: 0;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .btn {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }

    .form-control {
      height: auto;
    }
  }
}
