.input-group.as-input {
  cursor: text;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  .form-control {
    box-shadow: none;
  }

  .input-group-prepend > .input-group-text,
  .input-group-append > .input-group-text {
    background-color: $white;
  }

  &.prepend {
    .form-control {
      border-left: none;
    }

    .input-group-prepend > .input-group-text {
      border-right: none;
    }
  }

  &.append {
    .form-control {
      border-right: none;
    }

    .input-group-append > .input-group-text {
      border-left: none;
    }
  }

  &.is-invalid {
    .form-control,
    .input-group-prepend > .input-group-text,
    .input-group-append > .input-group-text {
      border-color: $danger;
    }
  }

  &.is-valid {
    .form-control,
    .input-group-prepend > .input-group-text,
    .input-group-append > .input-group-text {
      border-color: $success;
    }
  }

  &.focus {
    box-shadow: 0 0 0 .2rem rgba($primary, .25);

    .form-control,
    .input-group-prepend > .input-group-text,
    .input-group-append > .input-group-text {
      border-color: lighten($primary, 25%);
    }

    &.is-invalid {
      box-shadow: 0 0 0 .2rem rgba($danger, .25);

      .form-control,
      .input-group-prepend > .input-group-text,
      .input-group-append > .input-group-text {
        border-color: $danger;
      }
    }

    &.is-valid {
      box-shadow: 0 0 0 .2rem rgba($success, .25);

      .form-control,
      .input-group-prepend > .input-group-text,
      .input-group-append > .input-group-text {
        border-color: $success;
      }
    }
  }

  &.disabled,
  &.readonly {
    .form-control,
    .input-group-prepend > .input-group-text,
    .input-group-append > .input-group-text {
      background: $gray-200;
    }
  }
}
