.input-suggestion
{
  position: relative;
  @include crossbrowser-border-radius(.25rem);

  .input-suggestion-list
  {
    background-color: map-get($colors, "white");
    border-bottom: .0625rem solid map-get($colors, "blue");
    border-left: .0625rem solid map-get($colors, "blue");
    border-right: .0625rem solid map-get($colors, "blue");
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1050;
    @include crossbrowser-border-bottom-radius(.31rem);

    .list-group .list-group-item
    {
      border: none;
      @include crossbrowser-border-top-radius(0);
    }
  }

  &.open
  {
    @include crossbrowser-box-shadow(0 0 0 .2rem rgba(map-get($colors, "blue"), .25));

    input
    {
      @include crossbrowser-border-bottom-radius(0);
      @include crossbrowser-box-shadow(none);
    }

    input,
    .input-suggestion-list
    {
      background-color: map-get($colors, "white");
      border-color: lighten(map-get($colors, "blue"), 25%);
      color: map-get($grays, "700");
      display: block;
      @include crossbrowser-transition(border-color .15s ease-in-out, box-shadow .15s ease-in-out);
    }
  }
}
