// Color system

$white:  #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:  #000 !default;

$grays: () !default;
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

$belize-hole: #3ca2e0 !default;
$blue: #007bff !default;
$carrot: #e67e22 !default;
$cyan: #17a2b8 !default;
$green: #16a085 !default;
$indigo: #6610f2 !default;
$orange: #e98925 !default;
$peter-river: #2e8cc2 !default;
$pink: #e83e8c !default;
$purple: #6f42c1 !default;
$red: #e95644 !default;
$teal: #20c997 !default;
$turquoise: #1abc9c !default;
$yellow: #f3ca0c !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary": $peter-river,
  "success": $turquoise,
  "info": $belize-hole,
  "warning": $yellow,
  "danger": $red
), $theme-colors);

// Fonts

$font-family-base: 'Open Sans', sans-serif, arial !default;

$font-size-base: 1rem !default;
$font-size-lg: ($font-size-base * 1.25) !default;
$font-size-sm: ($font-size-base * .875) !default;

$h1-font-size: $font-size-base * 2 !default;
$h2-font-size: $font-size-base * 1.75 !default;
$h3-font-size: $font-size-base * 1.55 !default;
$h4-font-size: $font-size-base * 1.35 !default;
$h5-font-size: $font-size-base * 1.15 !default;
$h6-font-size: $font-size-base !default;

$headings-margin-bottom: 1rem !default;

// Responsive breakpoints

$breakpoints: () !default;
$breakpoints: map-merge((
  "xs-max": 575.99px,
  "sm-min": 576px,
  "sm-max": 767.99px,
  "md-min": 768px,
  "md-max": 991.99px,
  "lg-min": 992px,
  "lg-max": 1199.99px,
  "xl-min": 1200px
), $breakpoints);

// Layout

$body-bg: $gray-200 !default;
$breadcrumb-bg: $gray-300 !default;
$breadcrumb-border-radius: 0 !default;
$link-color: $blue !default;
$table-head-bg: $gray-400 !default;
$nav-tabs-border-color: $gray-400 !default;
$nav-tabs-link-active-border-color: $gray-400 $gray-400 $body-bg !default;
$nav-tabs-link-hover-border-color:  $gray-300 $gray-300 $nav-tabs-border-color !default;

// Sidebar

$sidebar-background: $peter-river !default;
$sidebar-btn-close: rgba($white, .5) !default;
$sidebar-font-size: 0.95rem !default;
$sidebar-header-color: rgba($white, .75) !default;
$sidebar-header-img-bg: $gray-200 !default;
$sidebar-header-img-border: rgba($white, .15) !default;
$sidebar-nav-link-level-1: rgba($white, .75) !default;
$sidebar-nav-link-level-1-hover: $white !default;
$sidebar-nav-link-level-2: rgba($white, .75) !default;
$sidebar-nav-link-level-2-hover: $white !default;
$sidebar-nav-footer-link: rgba($white, .5) !default;
$sidebar-nav-footer-link-hover: rgba($white, .75) !default;
$sidebar-padding: .95rem 0 !default;
$sidebar-scrollbar: $belize-hole !default;
$sidebar-scrollbar-thumb: rgba($white, .75) !default;
$sidebar-scrollbar-width: .2rem !default;
$sidebar-width: 15rem !default;

// Code highlight

$source-code-attribute: $blue !default;
$source-code-background: $gray-300 !default;
$source-code-class: $indigo !default;
$source-code-comment: $gray-600 !default;
$source-code-keyword: $indigo !default;
$source-code-link: $gray-600 !default;
$source-code-literal: $gray-700 !default;
$source-code-namespace: $green !default;
$source-code-number: $carrot !default;
$source-code-string: $red !default;

$source-code-colors: () !default;
$source-code-colors: map-merge((
"attribute": $source-code-attribute,
"background": $source-code-background,
"class": $source-code-class,
"comment": $source-code-comment,
"keyword": $source-code-keyword,
"link": $source-code-link,
"literal": $source-code-literal,
"namespace": $source-code-namespace,
"number": $source-code-number,
"string": $source-code-string
), $source-code-colors);
