@mixin sidebar-color($name, $color-settings)
{
  $background: map-get($color-settings, "background");
  $btn-close: map-get($color-settings, "btn-close");
  $scrollbar: map-get($color-settings, "scrollbar");
  $user: map-get($color-settings, "user");
  $nav-link-level-1: map-get($color-settings, "nav-link-level-1");
  $nav-link-level-2: map-get($color-settings, "nav-link-level-2");
  $nav-footer-link: map-get($color-settings, "nav-footer-link");

  .app .app-body .app-sidebar.sidebar-#{$name}
  {
    @include crossbrowser-linear-gradient($background);

    &::-webkit-scrollbar
    {
      background-color: map-get($scrollbar, "background");
    }

    &::-webkit-scrollbar-thumb
    {
      background-color: map-get($scrollbar, "color");
    }

    .btn-sidebar .x
    {
      &:before,
      &:after
      {
        background-color: $btn-close;
      }
    }

    .sidebar-header
    {
      .user-photo
      {
        background-color: map-get($user, "img-background");
        box-shadow: 0 0 0 .5rem map-get($user, "img-border");
      }

      .username
      {
        color: map-get($user, "color");
      }
    }

    .sidebar-nav
    {
      .sidebar-nav-group .sidebar-nav-link
      {
        &:active,
        &:focus,
        &:hover
        {
          color: map-get($nav-link-level-2, "color-hover");
        }
      }

      .sidebar-nav-link
      {
        color: map-get($nav-link-level-2, "color");
      }

      > .sidebar-nav-link,
      > .sidebar-nav-group > .sidebar-nav-link
      {
        color: map-get($nav-link-level-1, "color");

        &.collapsed
        {
          background-color: $background;
        }

        &:active,
        &:focus,
        &:hover,
        &[aria-expanded=true]
        {
          color: map-get($nav-link-level-1, "color-hover");
        }
      }
    }

    .sidebar-footer a
    {
      color: map-get($nav-footer-link, "color");

      &:active,
      &:focus,
      &:hover
      {
        color: map-get($nav-footer-link, "color-hover");
      }
    }
  }
}
