<!-- @@master = /includes/app.html-->
<!-- @@block = content -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Components</li>
    <li class="breadcrumb-item active" aria-current="page">File manager</li>
  </ol>
</nav>
<div class="container-fluid">
  <h2>File manager</h2>
  <div class="form-group">
    <div class="input-group">
      <div class="form-control"></div>
      <div class="input-group-append">
        <button type="button" class="btn btn-primary" data-toggle="file-manager" data-maxsize="1MB" data-type="image/jpeg,image/png">
          <i class="fa fa-folder-open-o"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- @@close -->
