<!-- @@master = /includes/app.html-->
<!-- @@block = content -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Components</li>
    <li class="breadcrumb-item active" aria-current="page">File manager</li>
  </ol>
</nav>
<div class="container-fluid">
  <h2>File manager</h2>
  <div class="form-group">
    <button type="button" class="btn btn-primary" data-toggle="file-manager" data-maxsize="1MB" data-type="image/jpeg,image/png">
      <i class="fa fa-folder-open-o"></i> Select a file
    </button>
    <small class="text-secondary">Only .jpeg and .png and maximum 1MB.</small>
  </div>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>Filename</th>
        <th>Size</th>
      </tr>
      <tr>
        <td class="align-middle">
          <img id="preview" class="rounded d-none" width="64">
          <span id="file-name"></span>
          <i id="is-invalid" class="fa fa-times-circle text-danger d-none"></i>
          <i id="is-valid" class="fa fa-check-circle text-success d-none"></i>
        </td>
        <td class="align-middle">
          <span id="file-size"></span>
        </td>
      </tr>
    </table>
  </div>
</div>
<!-- @@close -->
