<!doctype html>
<html lang="en">
  <head>
    @@include('includes/header.html')
  </head>
  <body>
    <div class="app">
      <div class="app-body">
        @@include('includes/sidebar.html')
        <div class="app-content">
          @@include('includes/topbar.html')
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Components</li>
              <li class="breadcrumb-item active" aria-current="page">Input suggestion</li>
            </ol>
          </nav>
          <div class="container-fluid">
            <h2>Input suggestion</h2>
            <p>
              The <code>.input-suggestion</code> is a simple and flexible autocomplete component.
              For displaying the list of items you use the <code>.list-group</code> and to define the selectable items of the list you use
              <code>.list-group-item-action</code>. Refer to <a href="https://getbootstrap.com/docs/4.0/components/list-group/">bootstrap documentation</a>
              for more details about these classes.
            </p>
            <p>
              You can use simple texts or customized templates for display the items of the list.
              Also, the component has two modes of operation: static and async.
            </p>
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Mode</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>static</td>
                    <td>
                      Default mode. Used for static items and has a built-in DOM search for items in the list.
                    </td>
                  </tr>
                  <tr>
                    <td>async</td>
                    <td>
                      Used for dynamic items that requires DOM manipulation. This mode disable the built-in DOM search.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <p>
              Follow to the next topcis for details.
            </p>
            <h3>Simple text</h3>
            <p>
              This is the most basic way to create the component. The suggestions are displayed whenever the user start to typing
              in the input element, that is, when the <code>input</code> event is triggered. See the example below:
            </p>
            <div class="form-group">
              <label>What juice do you like?</label>
              <div class="input-suggestion">
                <input type="text" class="form-control" data-toggle="suggestion">
                <div class="input-suggestion-list">
                  <div class="list-group empty">
                    <p class="list-group-item text-muted">
                      No results found
                    </p>
                  </div>
                  <div class="list-group items">
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">Apple, carrot, and orange</a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">Beet, carrot, ginger, and turmeric</a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">Homemade tomato juice</a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">Orange and grapefruit</a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">Pumpkin seed</a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">Spinach, lettuce, and kale</a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">Strawberry and mango</a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">Strawberry-kiwi mint</a>
                  </div>
                </div>
              </div>
            </div>
            <pre><code class="html">@@include('includes/code-examples/input-suggestion-basic.html')</code></pre>
            <h3>Customized template</h3>
            <p>
              You do not need to restrict yourself by using only simple texts for items of the list.
              You can customize like you wish.
            </p>
            <p>
              To the component work properly you need to define what element contains the text that will
              be displayed in the <code>input</code> when a item of the list is selected. You can do this by setting the attribute option
              <code>data-text</code> with the desired element selector. See the example below:
            </p>
            <div class="form-group">
              <label>What juice do you like?</label>
              <div class="input-suggestion">
                <input type="text" class="form-control" data-toggle="suggestion"
                  data-item=".list-group-item-action" data-text="h5" data-empty=".no-results">
                <div class="input-suggestion-list">
                  <div class="list-group empty">
                    <p class="list-group-item text-muted">
                      No results found
                    </p>
                  </div>
                  <div class="list-group items">
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Apple, carrot, and orange</h5>
                        <small>
                          <i class="fa fa-heart-o"></i> 12
                        </small>
                      </div>
                      <p class="mb-1">
                        Winning combination for helping your body protect itself and fight off infections.
                      </p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Beet, carrot, ginger, and turmeric</h5>
                        <small>
                          <i class="fa fa-heart-o"></i> 10
                        </small>
                      </div>
                      <p class="mb-1">
                        Four root vegetables that’ll help your immune system and decrease inflammatory symptoms.
                      </p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Homemade tomato juice</h5>
                        <small>
                          <i class="fa fa-heart-o"></i> 8
                        </small>
                      </div>
                      <p class="mb-1">
                        The best way to be sure your tomato juice is fresh and without added ingredients is to make it yourself.
                      </p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Orange and grapefruit</h5>
                        <small>
                          <i class="fa fa-heart-o"></i> 10
                        </small>
                      </div>
                      <p class="mb-1">
                        Vitamin C has antioxidant and other properties that protect your cells from substances that damage the body.
                      </p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Pumpkin seed</h5>
                        <small>
                          <i class="fa fa-heart-o"></i> 12
                        </small>
                      </div>
                      <p class="mb-1">
                        It’s one of the freshest, most natural recipes available online. And it works as a great base for fruit smoothies.
                      </p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Spinach, lettuce, and kale</h5>
                        <small>
                          <i class="fa fa-heart-o"></i> 10
                        </small>
                      </div>
                      <p class="mb-1">
                        A vegetable-based green juice is a powerhouse of nutrients for a strong immune system.
                      </p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Strawberry and mango</h5>
                        <small>
                          <i class="fa fa-heart-o"></i> 6
                        </small>
                      </div>
                      <p class="mb-1">
                        The healthy way to satisfy your cravings for a bottomless brunch.
                      </p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" tabindex="-1">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Strawberry-kiwi mint</h5>
                        <small>
                          <i class="fa fa-heart-o"></i> 8
                        </small>
                      </div>
                      <p class="mb-1">
                        Other healthy alternatives for a vitamin C-packed drink.
                      </p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <pre><code class="html">@@include('includes/code-examples/input-suggestion-advanced.html')</code></pre>
            <h3>Asynchronous</h3>
            <p>
              You can use simple text or customized templates for async items, however the built-in DOM search is disabled.
            </p>
            <div class="form-group">
              <label>What juice do you like?</label>
              <div class="input-suggestion">
                <input id="input-suggestion-async-example" type="text" class="form-control" data-toggle="suggestion"
                  data-item=".list-group-item-action" data-empty=".no-results" data-loader=".loader" data-async>
                <div class="input-suggestion-list">
                  <div class="list-group loading">
                    <p class="list-group-item">
                      <em class="text-muted">Searching juices...</em>
                    </p>
                  </div>
                  <div class="list-group empty">
                    <p class="list-group-item text-muted">
                      No results found
                    </p>
                  </div>
                  <div class="list-group items"></div>
                </div>
              </div>
            </div>
            <pre><code class="html">@@include('includes/code-examples/input-suggestion-async.html')</code></pre>
          </div>
        </div>
      </div>
    </div>
    @@include('includes/scripts.html')
  </body>
</html>
