<!doctype html>
<html lang="en">
  <head>
    @@include('includes/header.html')
  </head>
  <body>
    <div class="app">
      <div class="app-body">
        @@include('includes/sidebar.html')
        <div class="app-content">
          @@include('includes/navbar.html')
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Components</li>
              <li class="breadcrumb-item active" aria-current="page">Input group</li>
            </ol>
          </nav>
          <div class="container-fluid">
            <h2>
              Input group
            </h2>
            <p>
              The <code>.input-group</code> will be treated as an <code>input</code>.
            </p>
            <div class="form-group">
              <label>Prepend with default state</label>
              <div class="input-group as-input append">
                <input type="text" class="form-control">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Prepend with readonly state</label>
              <div class="input-group as-input append">
                <input type="text" class="form-control" readonly>
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Prepend with disabled state</label>
              <div class="input-group as-input append">
                <input type="text" class="form-control" disabled>
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Prepend and append with invalid state</label>
              <div class="input-group as-input prepend append is-invalid">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control">
                <div class="input-group-append">
                  <span class="input-group-text">.00</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Prepend and append with valid state</label>
              <div class="input-group as-input prepend append is-valid">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input type="text" class="form-control" value="johndoe">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-check text-success"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    @@include('includes/scripts.html')
  </body>
</html>
