<!-- @@master = /includes/app.html-->
<!-- @@block = content -->
<nav aria-span="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Components</li>
    <li class="breadcrumb-item active" aria-current="page">Radio button</li>
  </ol>
</nav>
<div class="container-fluid">
  <h2>Radio button</h2>
  <div class="form-group">
    <label class="radio">
      <input type="radio" name="radio-group" checked>
      <span class="check-mark">Apple</span>
    </label>
  </div>
  <div class="form-group">
    <label class="radio">
      <input type="radio" name="radio-group">
      <span class="check-mark">Peach</span>
    </label>
  </div>
  <div class="form-group">
    <label class="radio">
      <input type="radio" name="radio-group">
      <span class="check-mark">Orange</span>
    </label>
  </div>
</div>
<!-- @@close -->
