<!-- @@master = /includes/app.html-->
<!-- @@block = content -->
<nav aria-span="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Components</li>
    <li class="breadcrumb-item active" aria-current="page">Radio button</li>
  </ol>
</nav>
<div class="container-fluid">
  <h2>Radio button</h2>
  <div class="form-group">
    <label class="radio">
      <input type="radio" name="radio-basic" checked>
      <span class="check-mark">Apple</span>
    </label>
  </div>
  <div class="form-group">
    <label class="radio">
      <input type="radio" name="radio-basic">
      <span class="check-mark">Peach</span>
    </label>
  </div>
  <div class="form-group">
    <label class="radio">
      <input type="radio" name="radio-basic">
      <span class="check-mark">Orange</span>
    </label>
  </div>
  <h3>Colors</h3>
  <div class="form-group">
    <label class="radio radio-primary">
      <input type="checkbox" checked>
      <span class="check-mark">Primary</span>
    </label>
  </div>
  <div class="form-group">
    <label class="radio radio-success">
      <input type="checkbox" checked>
      <span class="check-mark">Success</span>
    </label>
  </div>
  <div class="form-group">
    <label class="radio radio-danger">
      <input type="checkbox" checked>
      <span class="check-mark">Danger</span>
    </label>
  </div>
  <div class="form-group">
    <label class="radio radio-warning">
      <input type="checkbox" checked>
      <span class="check-mark">Warning</span>
    </label>
  </div>
  <div class="form-group">
    <label class="radio radio-info">
      <input type="checkbox" checked>
      <span class="check-mark">Info</span>
    </label>
  </div>
  <h3>Sizes</h3>
  <div class="form-group">
    <label class="radio radio-sm">
      <input type="radio" name="radio-size">
      <span class="check-mark">Small</span>
    </label>
  </div>
  <div class="form-group">
    <label class="radio">
      <input type="radio" name="radio-size" checked>
      <span class="check-mark">Normal</span>
    </label>
  </div>
  <div class="form-group">
    <label class="radio radio-lg">
      <input type="radio" name="radio-size">
      <span class="check-mark">Large</span>
    </label>
  </div>
</div>
<!-- @@close -->
