<!doctype html>
<html lang="en">
  <head>
    @@include('includes/header.html')
  </head>
  <body>
    <div class="app">
      <div class="app-body">
        @@include('includes/sidebar.html')
        <div class="app-content">
          @@include('includes/navbar.html')
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Components</li>
              <li class="breadcrumb-item active" aria-current="page">Toggle switch</li>
            </ol>
          </nav>
          <div class="container-fluid">
            <h2>Toggle switch</h2>
            <p>
              You can customize switches by combining different colors and sizes. See the basic example bellow:
            </p>
            <label class="switch">
              <input type="checkbox"/>
              <span class="switch-slider"></span>
            </label>
            <pre><code class="html">@@include('includes/code-examples/components/toggle-switch/toggle-switch-basic.html')</code></pre>
            <h3>Colors</h3>
            <p>
              The toggle switch styles follow the contextual bootstrap colors.
            </p>
            <label class="switch switch-to-primary">
              <input type="checkbox" checked/>
              <span class="switch-slider"></span>
            </label>
            <label class="switch switch-to-success">
              <input type="checkbox" checked/>
              <span class="switch-slider"></span>
            </label>
            <label class="switch switch-to-danger">
              <input type="checkbox" checked/>
              <span class="switch-slider"></span>
            </label>
            <label class="switch switch-to-warning">
              <input type="checkbox" checked/>
              <span class="switch-slider"></span>
            </label>
            <label class="switch switch-to-info">
              <input type="checkbox" checked/>
              <span class="switch-slider"></span>
            </label>
            <pre><code class="html">@@include('includes/code-examples/components/toggle-switch/toggle-switch-colors.html')</code></pre>
            <p>
              You can also customize the color transition using <code>switch-*</code> and <code>switch-to-*</code>
            </p>
            <label class="switch switch-danger switch-to-success">
              <input type="checkbox"/>
              <span class="switch-slider"></span>
            </label>
            <pre><code class="html">@@include('includes/code-examples/components/toggle-switch/toggle-switch-from-to.html')</code></pre>
            <h3>Sizes</h3>
            <p>
              Add <code>.switch-sm</code> for smaller switches or <code>.switch-lg</code> for larger.
            </p>
            <label class="switch switch-sm">
              <input type="checkbox"/>
              <span class="switch-slider"></span>
            </label>
            <label class="switch">
              <input type="checkbox"/>
              <span class="switch-slider"></span>
            </label>
            <label class="switch switch-lg">
              <input type="checkbox"/>
              <span class="switch-slider"></span>
            </label>
            <pre><code class="html">@@include('includes/code-examples/components/toggle-switch/toggle-switch-sizes.html')</code></pre>
          </div>
        </div>
      </div>
    </div>
    @@include('includes/scripts.html')
  </body>
</html>
